<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Logistic Company, Shipping Solutions, about company, Save time.Save money.Save the planet., About, Contact Us">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Admin</title>
    <link rel="stylesheet" href="../static/css/nicepage.css" media="screen" th:href="@{/css/nicepage.css}">
    <link rel="stylesheet" href="../static/css/Home.css" media="screen" th:href="@{/css/Home.css}">
<!--    <script class="u-script" type="text/javascript" src="../static/js/jquery.js" defer="" th:href="@{/js/jquery.js}"></script>-->
<!--    <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" defer="" th:href="@{/js/nicepage.js}"></script>-->
    <link rel="stylesheet" href="../static/css/navbar.css" media="screen" th:href="@{/css/navbar.css}">
    <meta name="generator" content="Nicepage 3.9.3, nicepage.com">
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/hideable.css" th:href="@{/css/hideable.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/tables.css" th:href="@{/css/tables.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/adminpanel.css" th:href="@{/css/adminpanel.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i">


    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#4345e7">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body style="background-color: #3f3f64">

<!--  Navbar starts here-->
<ul style=" padding-left: 100px; height: 80px; background-color: #F19A0E;">

    <div style="padding-top: 15px">

        <li th:if="${currentUser != null}" class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#" th:href="@{/logout}">LOGOUT</a>
        </li>

        <li th:if="${currentUser != null }" class="nav-item mx-0 mx-lg-1" >
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#" th:href="@{/}">HOME</a></li>

        <li th:if="${currentUser == null}" class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#Login" th:href="@{/login}">LOGIN</a>
        </li>

        <li th:if="${currentUser != null && (currentUser.isEmployee() || currentUser.isAdmin())}"
            class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#" th:href="@{/admin-panel}">ADMIN PANEL</a>
        </li>

        <li th:if="${currentUser != null && currentUser.isEmployee()}"
            class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#" th:href="@{/garagepanel}">GARAGE</a>
        </li>

        <!--UserNameDisplay and button-->
        <li th:if="${currentUser != null}"
            class="nav-item mx-0 mx-lg-1">
            <a class="py-3 px-0 px-lg-3 rounded"
               style="font-size: larger;"
               th:href="@{/my-profile}" th:text="${currentUser.getFirstName() + ' '
                                    + currentUser.getLastName()}">FirstName LastName</a>
        </li>

    </div>
</ul >
<!-- Navbar ends here-->
<!-- Buttons for creation-->
<div>

<div style="float: left; padding-left: 100px; padding-bottom: 30px;">
    <button class="button button2" onclick="toggleCreateUser()">Create User</button><br><br>
    <!--    CREATE NEW USER-->
    <div class="card-body hidden" id="createNewUser" style="width: 100%; background-color: #DEDEEE; padding: 5px;">
        <form style="padding: 20px;" th:action="@{/admin-panel/register/user}"
              th:object="${userRegisterDto}" method="post" class="form-signin">

            <div class="form-label-group">
                <label for="inputOwnerId">Email</label><br>
                <input type="email" id="inputEmail" style="width: 150px"
                       class="form-control" th:field="*{email} "
                       placeholder="Email address" required>
                <p th:errors="*{email}">Email not correct.</p>
            </div><br>

            <div class="form-label-group">
                <label for="inputOwnerId">First Name</label><br>
                <input type="text" id="inputFirstName" style="width: 150px"
                       class="form-control" placeholder="First name"
                       required th:field="*{firstName}">
                <p th:errors="*{firstName}">First name is not correct.</p>
            </div><br>

            <div class="form-label-group">
                <label for="inputOwnerId">Last Name</label><br>
                <input type="text" id="inputLastName" style="width: 150px"
                       class="form-control" placeholder="Last name"
                       required th:field="*{lastName}">
                <p th:errors="*{lastName}">Last name is not correct.</p>
            </div><br>

            <div class="form-label-group">
                <label for="inputOwnerId">Phone</label><br>
                <input type="text" id="inputPhone" style="width: 150px"
                       class="form-control" placeholder="Phone"
                       required th:field="*{phone}">
                <p th:errors="*{phone}">Phones must be 10 signs.</p>
            </div><br><br>

            <button class="button1 button2" style="font-size: larger"
                    type="submit">Create user</button>

        </form>
    </div>
</div>

<div style="float: left; padding-left: 30px; padding-bottom: 30px;">
    <button class="button button2" onclick="toggleCreateVehicle()">Create Vehicle</button><br><br>
    <!--    CREATE NEW VEHICLE-->
    <div class="card-body hidden" id="createNewVehicle" style="width: 100%; background-color: #DEDEEE; padding: 5px;">
        <form style="padding: 20px;" th:action="@{/admin-panel/register/vehicle}"
              th:object="${vehicleDto}" method="post" class="form-signin">

            <div class="form-label-group">
                <label for="inputOwnerId">Owner Id</label><br>
                <input type="number" style="width: 150px" id="inputOwnerId"
                       class="form-control" th:field="*{owner_id}"
                       placeholder="OwnerId" required>
                <p th:errors="*{owner_id}">Wrong owner Id</p>
            </div><br>

            <div class="form-label-group">
                <!--Vehicle Model Show only-->
                <label >Model</label>
                <br/>
                <select class="selectMY" style="width: 150px" th:field="*{model_id}">
                    <option th:each="model : ${vehicleModel}"
                            th:value="${model.getId()}"
                            th:text="${model.getBrand().getBrandName()
                            + ' ' + model.getModelName()}">
                        Model
                    </option>
                </select>
                <p class="error" th:errors="*{model_id}">Category error placeholder</p>
            </div><br>

            <div class="form-label-group">
                <label for="inputVehicleYear">Year</label><br>
                <input type="number" id="inputVehicleYear" style="width: 150px"
                       class="form-control" placeholder="Vehicle year"
                       required th:field="*{year}">
                <p th:errors="*{year}">Wrong year</p>
            </div><br>

            <div class="form-label-group">
                <label for="inputVehicleYear">License plate</label><br>
                <input type="text" id="inputVehiclePlate" style="width: 150px"
                       class="form-control" placeholder="Vehicle plate"
                       required th:field="*{license_plate}">
                <p th:errors="*{license_plate}">Incorrect vehicle plate.</p>
            </div><br>

            <div class="form-label-group">
                <label for="inputVehicleYear">Vin</label><br>
                <input type="text" id="inputVehicleVin" style="width: 150px"
                       class="form-control" placeholder="Vehicle VIN"
                       required th:field="*{vin}">
                <p th:errors="*{vin}">Vin should be 16 signs long.</p>
            </div><br><br>

            <button class="button1 button2" style="font-size: larger"
                    type="submit">Create vehicle</button>

        </form>
    </div>
</div>
<div style="float: left; padding-left: 30px; padding-bottom: 30px;">
    <button class="button button2" onclick="toggleCreateVisit()">Create Visit</button><br><br>
    <!--    CREATE NEW VISIT-->
    <div class="card-body hidden" id="createNewVisit" style="width: 100%; background-color: #DEDEEE; padding: 5px;">
        <form style="padding: 20px;" th:action="@{/admin-panel/register/visit}"
              th:object="${visitDto}" method="post" class="form-signin">

            <div class="form-label-group">
                <label for="inputOwnerId">Vehicle Id</label><br>
                <input type="number" id="inputVehicleId" style="width: 150px"
                       class="form-control" th:field="*{vehicleId}"
                       placeholder="Vehicle Id" required>
                <p th:errors="*{vehicleId}">Wrong vehicle Id</p>
            </div><br><br>

            <button class="button1 button2" style="font-size: larger"
                    type="submit">Create visit</button>

        </form>
    </div>
</div>
<div style="float: left; padding-left: 30px; padding-bottom: 30px;">
    <button class="button button2" onclick="toggleCreateServiceOrder()">Create Service Order</button><br><br>
    <!--    CREATE NEW SERVICE ORDER-->
    <div class="card-body hidden" id="createNewServiceOrder" style="width: 100%; background-color: #DEDEEE; padding: 5px;">
        <form style="padding: 20px;" th:action="@{/admin-panel/register/service-order}"
              th:object="${serviceOrderDto}" method="post" class="form-signin" >

            <div class="form-label-group">
                <!--Vehicle Model Show only-->
                <label>Service</label><br/>
                <select class="selectMY" style="width: 150px" th:field="*{serviceId}">
                    <option th:each="shopService : ${shopServices}"
                            th:value="${shopService.getId()}"
                            th:text="${shopService.getName()
                            + ' ' + shopService.getPrice()}">
                        Shop Services
                    </option>
                </select>
                <p class="error" th:errors="*{serviceId}">Wrong service Id</p>
            </div><br>

            <div class="form-label-group">
                <!--Vehicle Model Show only-->
                <label>Visit Id, Vehicle, Plate</label><br/>
                <select class="selectMY" style="width: 150px" th:field="*{visitId}">
                    <option th:each="visit : ${activeVisits}"
                            th:value="${visit.getId()}"
                            th:text="${visit.getId()
                            + '/ ' + visit.getVehicle().getModel().getModelName()
                            + '/ ' + visit.getVehicle().getLicensePlate()}">
                        Visit Id, Vehicle, Plate
                    </option>
                </select>
                <p class="error" th:errors="*{visitId}">Wrong visit Id</p>
            </div><br>

            <div class="form-label-group">
                <label for="inputOwnerId">End Date</label><br>
                <input type="text" id="inputEndDate" style="width: 150px"
                       class="form-control" th:field="*{endDate}"
                       placeholder="End Date" required><br>
                <label for="inputEndDate">yyyy-MM-dd HH:mm:ss</label>
                <p th:errors="*{endDate}">Wrong end date pattern</p>
            </div><br><br>

            <button class="button1 button2" style="font-size: larger"
                    type="submit">Create + Mail</button>

        </form>
    </div>
</div>
<div style="float: left; padding-left: 30px; padding-bottom: 30px;">
    <button class="button button2" onclick="toggleSendMail()">Send Visit Info</button><br><br>
    <!--    SEND MAIL TO USER WITH ALL ORDERS ROF A VISIT-->
    <div class="card-body hidden" id="sendEmail" style="width: 100%; background-color: #DEDEEE; padding: 5px;">
        <div style="padding-left: 20px; padding-top: 20px; padding-right: 20px;">
            Send email to the user <br>
            with all orders for a visit. <br><br>
        </div>

        <form style="padding: 20px;" th:action="@{/admin-panel/send/all-orders-for-visit}"
              th:object="${visitIdDto}" method="post" class="form-signin">

            <div class="form-label-group">
                <label for="inputOwnerId">Visit Id</label><br>
                <input type="number" id="inputVisitId" style="width: 140px"
                       class="form-control" th:field="*{visitId}"
                       placeholder="Visit Id" required>
                <p th:errors="*{visitId}">Wrong visit Id</p>
            </div><br><br>


            <button class="button1 button2" style="font-size: larger"
                    type="submit">Send Mail</button>

        </form>
    </div>
</div>
<div style="float: left; padding-left: 30px; padding-bottom: 30px;">
    <button class="button button2" onclick="toggleResetPass()">Password Reset</button><br><br>
    <!--    EMPLOYEES AND ADMINS TO SEND MAILS FOR PASSWORD RESTART-->
    <div class="card-body hidden" id="resetPass" style="width: 100%; background-color: #DEDEEE; padding: 5px;">
        <div style="padding-left: 20px; padding-top: 20px; padding-right: 20px;">
            Please enter user's ID, <br>
            who required restart. <br><br>
        </div>
        <form style="padding: 20px;" th:action="@{/admin-panel/create-pass-restart}"
              th:object="${passRestartDto}" method="post" class="form-signin">

            <div class="form-label-group">
                <label for="inputOwnerId">User Id</label><br>
                <input type="number" id="inputUserIdRes" style="width: 150px"
                       class="form-control" th:field="*{emailId}"
                       placeholder="User Id" required>
                <p th:errors="*{emailId}">Wrong user Id</p>
            </div><br><br>

            <button class="button1 button2" style="font-size: larger"
                    type="submit">Send Email</button>

        </form>
    </div>
</div>
<div style="float: left; padding-left: 30px; padding-bottom: 30px;">
    <button class="button button2" onclick="toggleCreateModel()">Create Model</button><br><br>
    <!--    CREATE NEW MODEL-->
    <div class="card-body hidden"id="createNewModel" style="width: 100%; background-color: #DEDEEE; padding: 5px;">
        <form style="padding: 20px;" th:action="@{/admin-panel/register/model}"
              th:object="${modelDto}" method="post" class="form-signin">

            <div class="form-label-group">
                <!--Vehicle Make Show only-->
                <label>Vehicle Make</label><br/>
                <select class="selectMY" style="width: 150px" th:field="*{brand_id}">
                    <option th:each="make : ${vehicleMake}"
                            th:value="${make.getId()}"
                            th:text="${make.getBrandName()}">
                        Vehicle Make
                    </option>
                </select>
                <p class="error" th:errors="*{brand_id}">Wrong Vehicle Make</p>
            </div><br>

            <div class="form-label-group">
                <label for="inputOwnerId">Vehicle Model</label><br>
                <input type="text" id="inputVehicleModelId" style="width: 150px"
                       class="form-control" th:field="*{model_name}"
                       placeholder="Vehicle Model" required>
                <p th:errors="*{model_name}">Wrong vehicle model</p>
            </div><br><br>

            <button class="button1 button2" style="font-size: larger"
                    type="submit">Create model</button>

        </form>
    </div>
</div>
<div style="float: left; padding-left: 30px; padding-bottom: 30px;">
    <button class="button button2" onclick="toggleCreateBrand()">Create Make</button><br><br>
    <!--    CREATE NEW МАКЕ-->
    <div class="card-body hidden" id="createNewMake" style="width: 100%; background-color: #DEDEEE; padding: 5px;">
        <form style="padding: 20px;" th:action="@{/admin-panel/register/make}"
              th:object="${brandDto}" method="post" class="form-signin">

            <div class="form-label-group">
                <label for="inputOwnerId">Vehicle Make</label><br>
                <input type="text" id="inputVehicleMake" style="width: 150px"
                       class="form-control" th:field="*{brandName}"
                       placeholder="Vehicle Make" required>
                <p th:errors="*{brandName}">Wrong vehicle Make</p>
            </div><br><br>

            <button class="button1 button2" style="font-size: larger"
                    type="submit">Create make</button>

        </form>
    </div>
</div>
</div>
<br>
<br>
<br>
<!--     Tables And Informational pane start here-->
<div class="searchAndTablesContainer" style="padding-left: 80px; padding-right: 80px; min-height: 500px;">
<!--    Left panel-->
  <div class="searchPanel" style="background-color: #dedeee; padding: 20px;">
        Informational pane<br><br>
      <input class="button1 button2" type="submit" value="Get All Users" onclick="getAllUsers()"><br>
      <input class="button1 button2" type="submit" value="Filter Customers" onclick="toggleFilterCustomers()"><br><br>
      <input class="button1 button2" type="submit" value="Get All Shop Services" onclick="getAllShopServices()"><br><br>
      <input class="button1 button2" type="submit" value="New Service" onclick="toggleNewService()"><br>
      <input class="button1 button2" type="submit" value="Update Service" onclick="toggleUpdateService()"><br>
      <input class="button1 button2" type="submit" value="Delete Service" onclick="toggleDeleteService()"><br><br>
      <input class="button1 button2" type="submit" value="Filter Services" onclick="toggleFilterServices()"><br><br>
      <input class="button1 button2" type="submit" value="Get Past Pass Requests" onclick="getPastPassRequests()"><br>
      <div class="hidden" id="filterServices">
          Filter services by name and/or price: <br>
          Name : <input type="text" name="serviceName" id="serviceNameFilter" value=""> <br />
          Price : <input type="text" name="serviceName" id="servicePriceFilter" value=""> <br />
      <input class="button1 button2" type="submit" value="Filter" onclick="filterServicesByNameOrPrice()">
      </div>
      <div class="hidden" id="createNewService">
          Create new service: <br>
          Name : <input type="text" name="serviceName" id="serviceNameCreate" value=""> <br />
          Price : <input type="text" name="serviceName" id="servicePriceCreate" value=""> <br />
          <input class="button1 button2" type="submit" value="Create" onclick="createNewService()">
      </div>
      <div class="hidden" id="updateService">
          Update service: <br>
          ID : <input type="text" name="serviceName" id="serviceIdUpdate" value=""> <br />
          Name : <input type="text" name="serviceName" id="serviceNameUpdate" value=""> <br />
          Price : <input type="text" name="serviceName" id="servicePriceUpdate" value=""> <br />
          <input class="button1 button2" type="submit" value="Update" onclick="updateService()">
      </div>
      <div class="hidden" id="deleteService">
          Delete service: <br>
          ID : <input type="text" name="serviceName" id="serviceIdDelete" value=""> <br />
          <input class="button1 button2" type="submit" value="Delete" onclick="deleteService()">
      </div>
      <div class="hidden" id="filterCustomers">
          Filter customers by: <br>
          First Name : <input type="text" name="customer" id="firstName" value=""> <br />
          Last Name : <input type="text" name="customer" id="lastName" value=""> <br />
          Email : <input type="text" name="customer" id="email" value=""> <br />
          Phone : <input type="text" name="customer" id="phone" value=""> <br />
          Owner of model : <input type="text" name="customer" id="model" value=""> <br />
          Owner of brand: <input type="text" name="customer" id="brand" value=""> <br />
          Start Date : <input type="date" name="customer" id="startDate" value=""> <br />
          End Date : <input type="date" name="customer" id="endDate" value=""> <br />
          <input class="button1 button2" type="submit" value="Filter" onclick="filterCustomers()">
      </div>


  </div>
<!--    Right Panel-->
    <div class="tablesPanel" style="background-color: #dedeee; padding: 20px;">

        <div id="users" style="display:block">
            <table class="table table-striped">
                <tr class="bg-info" style="text-align: center">
                    <th data-column="id" class="users" data-order="desc">User ID &#9660</th>
                    <th data-column="first_name" class="users" data-order="desc">First Name &#9660</th>
                    <th data-column="last_name" class="users" data-order="desc">Last Name &#9660</th>
                    <th data-column="phone" class="users" data-order="desc">Phone&#9660</th>
                    <th data-column="email" class="users" data-order="desc">Email &#9660</th>
                    <th data-column="enabled" class="users" data-order="desc">Enabled &#9660</th>
                </tr>
                <tbody id="usersTable">
                </tbody>
            </table>
        </div>
        <div id="services" style="display:block">
            <table class="table table-striped">
                <tr class="bg-info" style="text-align: center">
                    <th data-column="id" class="services" data-order="desc">Shop Service ID &#9660</th>
                    <th data-column="first_name" class="services" data-order="desc">Service Name &#9660</th>
                    <th data-column="last_name" class="services" data-order="desc">Service Price &#9660</th>
                </tr>
                <tbody id="shopServicesTable">
                </tbody>
            </table>
        </div>
        <div id="passReset" style="display:block">
            <table class="table table-striped">
                <tr class="bg-info" style="text-align: center">
                    <th data-column="id" class="resetPass" data-order="desc">Request ID &#9660</th>
                    <th data-column="account_email" class="resetPass" data-order="desc">Account Email &#9660</th>
                    <th data-column="date_requested" class="resetPass" data-order="desc">Date Requested &#9660</th>
                    <th data-column="date_restarted" class="resetPass" data-order="desc">Date Restarted &#9660</th>
                </tr>
                <tbody id="passResetTable">
                </tbody>
            </table>
        </div>


</div>
</div>
<br>
</body>

<script>
    checkIfThereAreParamsBeforeLoad();
    function checkIfThereAreParamsBeforeLoad(){
        console.log("functions starts")
        const url = new URL(window.location.href);
        var firstName = url.searchParams.get("firstName");
        var lastName = url.searchParams.get("lastName");
        var email = url.searchParams.get("email");
        var phone = url.searchParams.get("phone");
        var queryParams = []
        var data = {};

        console.log(firstName)
        if(firstName !== null) {
            data['firstName'] = firstName;
            queryParams.push("firstName=" + firstName);}
        if(lastName !== null) {
            data['lastName'] = lastName;
            queryParams.push("lastName=" + lastName);}
        if(phone !== null) {
            data['phone'] = phone;
            queryParams.push("phone=" + phone);}
        if (email !== null) {
            data['email'] = email;
            queryParams.push("email=" + email);}
        console.log("Query params length: " + queryParams.length)
        if (queryParams.length > 0){
            console.log("It entered get request.")
            $.ajax({
                method: 'GET',
                headers: {'Authorization': 'a.d@gmail.com'},
                data: data,
                url: 'http://localhost:8080/api/users/customers/filter',
                success: function (response) {
                    usersData = response
                    buildUsersTable(usersData)
                }
            })
        } else {
            // Do nothing.
            console.log("It entered nothing.")
        }
    }




    // Ajax get All for passReset, Users and Services Tables. Array initializers.
    var passResetData = [];
    var usersData = [];
    var shopServicesData = [];
    getAllUnfinishedPassResetRequests()
    function getAllUsers(){
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            url: 'http://localhost:8080/api/users/all',
            success: function (response) {
                usersData = response
                buildUsersTable(usersData)
            }
        })
    }
    function getAllShopServices(){
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            url: 'http://localhost:8080/api/shopservices',
            success: function (response) {
                shopServicesData = response
                buildShopServicesTable(shopServicesData)
            }
        })
    }
    function getAllUnfinishedPassResetRequests(){
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            url: 'http://localhost:8080/api/passreset/uncompleted-requests',
            success: function (response) {
                passResetData = response
                buildPassResetRequestsTable(passResetData)
            }
        })
    }
    function getPastPassRequests(){
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            url: 'http://localhost:8080/api/passreset/all',
            success: function (response) {
                passResetData = response
                buildPassResetRequestsTable(passResetData)
            }
        })
    }
    function filterServicesByNameOrPrice(){
        var name = document.getElementById('serviceNameFilter').value
        var price = document.getElementById('servicePriceFilter').value

        var data = {};

        if(name != '')
            data['name'] = name;

        if(price != '')
            data['price'] = price;

        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: data,
            url: 'http://localhost:8080/api/shopservices',
            success: function (response) {
                shopServicesData = response
                buildShopServicesTable(shopServicesData)
            }
        })
    }
    function createNewService(){
        var name = document.getElementById('serviceNameCreate').value
        var price = document.getElementById('servicePriceCreate').value

        $.ajax({
            method: 'POST',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"serviceName": name, "price": price},
            url: 'http://localhost:8080/api/shopservices/front-end',
            success: function () {
                alert("New service created successfully!")
                getAllShopServices()
            }
        })
    }
    function updateService(){
        var id = document.getElementById('serviceIdUpdate').value
        var name = document.getElementById('serviceNameUpdate').value
        var price = document.getElementById('servicePriceUpdate').value

        $.ajax({
            method: 'PUT',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"id": id, "serviceName": name, "price": price},
            url: 'http://localhost:8080/api/shopservices/front-end',
            success: function () {
                alert("Service updated successfully!")
                getAllShopServices()
            }
        })
    }
    function deleteService(){
        var id = document.getElementById('serviceIdDelete').value
        $.ajax({
            method: 'DELETE',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"id": id},
            url: 'http://localhost:8080/api/shopservices',
            success: function () {
                alert("Service deleted successfully!")
                getAllShopServices()
            }
        })
    }
    function filterCustomers(){
        var firstName = document.getElementById('firstName').value
        var lastName = document.getElementById('lastName').value
        var email = document.getElementById('email').value
        var phone = document.getElementById('phone').value
        var model = document.getElementById('model').value
        var brand = document.getElementById('brand').value
        var startDate = document.getElementById('startDate').value
        var endDate = document.getElementById('endDate').value
        var fullStartDate = startDate  + " 00:00:00"
        var fullEndDate = endDate  + " 00:00:00"
        var data = {};

        if(firstName != '')
            data['firstName'] = firstName;
        if(lastName != '')
            data['lastName'] = lastName;
        if(email != '')
            data['email'] = email;
        if(phone != '')
            data['phone'] = phone;
        if(model != '')
            data['model'] = model;
        if(brand != '')
            data['make'] = brand;
        if(startDate != '')
            data['visitStart'] = fullStartDate;
        if(endDate != '')
            data['visitEnd'] = fullEndDate;

        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: data,
            url: 'http://localhost:8080/api/users/customers/filter',
            success: function (response) {
                usersData = response
                buildUsersTable(usersData)
            }
        })
    }



    // Tables creation.
    function buildUsersTable(usersData){
        var table = document.getElementById('usersTable')
        table.innerHTML = ''
        for (var i = 0; i < usersData.length; i++){
            var row = `<tr>
                        <td>${usersData[i].id}</td>
                        <td>${usersData[i].firstName}</td>
                        <td>${usersData[i].lastName}</td>
                        <td>${usersData[i].phone}</td>
                        <td>${usersData[i].email}</td>
                        <td>${usersData[i].enabled}</td>
                        </tr>`
            table.innerHTML += row
        }
    }
    function buildShopServicesTable(shopServicesData){
        var table = document.getElementById('shopServicesTable')
        table.innerHTML = ''
        for (var i = 0; i < shopServicesData.length; i++){
            var row = `<tr>
                        <td>${shopServicesData[i].id}</td>
                        <td>${shopServicesData[i].name}</td>
                        <td>${shopServicesData[i].price}</td>
                        </tr>`
            table.innerHTML += row
        }
    }
    function buildPassResetRequestsTable(passResetData){
        var table = document.getElementById('passResetTable')
        table.innerHTML = ''
        for (var i = 0; i < passResetData.length; i++){
            if (passResetData[i].restartDate === null){
                passResetData[i].restartDate = "Not reset yet."
            }
            var row = `<tr>
                        <td>${passResetData[i].id}</td>
                        <td>${passResetData[i].user.email}</td>
                        <td>${passResetData[i].requestDate}</td>
                        <td>${passResetData[i].restartDate}</td>
                        </tr>`
            table.innerHTML += row
        }
    }

    // Sort tables functions
    $(`.users`).on(`click`, function (){
        var column = $(this).data('column')
        var order = $(this).data('order')
        var text = $(this).html()
        text = text.substring(0, text.length - 1)

        if (order == 'desc'){
            $(this).data('order', "asc")
            usersData = usersData.sort((a,b) => a[column] < b[column] ? 1 : -1)
            text += '&#9650'
        } else {
            $(this).data('order', "desc")
            usersData = usersData.sort((a,b) => a[column] > b[column] ? 1 : -1)
            text += '&#9660'
        }
        $(this).html(text)
        buildUsersTable(usersData)
    })
    $(`.resetPass`).on(`click`, function (){
        var column = $(this).data('column')
        var order = $(this).data('order')
        var text = $(this).html()
        text = text.substring(0, text.length - 1)

        if (order == 'desc'){
            $(this).data('order', "asc")
            passResetData = passResetData.sort((a,b) => a[column] < b[column] ? 1 : -1)
            text += '&#9650'
        } else {
            $(this).data('order', "desc")
            passResetData = passResetData.sort((a,b) => a[column] > b[column] ? 1 : -1)
            text += '&#9660'
        }
        $(this).html(text)
        buildPassResetRequestsTable(passResetData)
    })
    $(`.services`).on(`click`, function (){
        var column = $(this).data('column')
        var order = $(this).data('order')
        var text = $(this).html()
        text = text.substring(0, text.length - 1)

        if (order == 'desc'){
            $(this).data('order', "asc")
            shopServicesData = shopServicesData.sort((a,b) => a[column] < b[column] ? 1 : -1)
            text += '&#9650'
        } else {
            $(this).data('order', "desc")
            shopServicesData = shopServicesData.sort((a,b) => a[column] > b[column] ? 1 : -1)
            text += '&#9660'
        }
        $(this).html(text)
        buildShopServicesTable(shopServicesData)
    })



    // Functions for top buttons toggling on click more options.
    function toggleCreateUser() {
        var x = document.getElementById("createNewUser");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function toggleCreateVehicle() {
        var x = document.getElementById("createNewVehicle");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function toggleCreateVisit() {
        var x = document.getElementById("createNewVisit");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function toggleCreateServiceOrder() {
        var x = document.getElementById("createNewServiceOrder");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function toggleSendMail() {
        var x = document.getElementById("sendEmail");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function toggleResetPass() {
        var x = document.getElementById("resetPass");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function toggleCreateModel() {
        var x = document.getElementById("createNewModel");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function toggleCreateBrand() {
        var x = document.getElementById("createNewMake");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function toggleFilterServices(){
        var x = document.getElementById("filterServices");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function toggleNewService(){
        var x = document.getElementById("createNewService");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function toggleUpdateService(){
        var x = document.getElementById("updateService");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function toggleDeleteService(){
        var x = document.getElementById("deleteService");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function toggleFilterCustomers(){
        var x = document.getElementById("filterCustomers");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

</html>