<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Garage Panel</title>
    <link rel="stylesheet" type="text/css" href="../static/css/garagepanelV2.css" th:href="@{/css/garagepanelV2.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/hideable.css" th:href="@{/css/hideable.css}">
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/tables.css" th:href="@{/css/tables.css}">
    <link rel="stylesheet" href="../static/css/navbar.css" media="screen" th:href="@{/css/navbar.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<ul style=" padding-left: 100px; height: 60px; background-color: #F19A10;">
    <div style="padding-top: 15px">

        <li th:if="${currentUser != null}" class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#" th:href="@{/logout}">LOGOUT</a>
        </li>

        <li th:if="${currentUser != null }" class="nav-item mx-0 mx-lg-1" >
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#" th:href="@{/}">HOME</a></li>

        <li th:if="${currentUser == null}" class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#Login" th:href="@{/login}">LOGIN</a>
        </li>

        <li th:if="${currentUser != null && (currentUser.isEmployee() || currentUser.isAdmin())}"
            class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#" th:href="@{/admin-panel}">ADMIN PANEL</a>
        </li>

        <li th:if="${currentUser != null && currentUser.isEmployee()}"
            class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#" th:href="@{/garagepanel}">GARAGE</a>
        </li>

        <!--UserNameDisplay and button-->
        <li th:if="${currentUser != null}"
            class="nav-item mx-0 mx-lg-1">
            <a class="py-3 px-0 px-lg-3 rounded"
               style="font-size: larger;"
               th:href="@{/my-profile}" th:text="${currentUser.getFirstName() + ' '
                                    + currentUser.getLastName()}">FirstName LastName</a>
        </li>

    </div>
</ul >
<div class="panelContainer">
    <div class="middlepane">
        <!---------------------Filter,sort and checkboxes PANE------------------------------>
        <div class="limiterCombinedForTopPane">
            <div class="limiterLeftForTopPane"></div>
            <div class="limiterRight">
        <div class="toppane">
            <h3 style="align-self: center; margin-left: 5px;">Control Panel</h3>
            <div class="topPaneSeparator" style="margin-top: -30px;">
                <div style="margin-left: 5px;">
                        <h3>Master search bar.</h3>
                        <input id="search-input" class="form-control" type="text">
                </div>
            </div>
            <div class="topPaneSeparator">
                <label for="calendarFilter">Search by Month</label>
                <input type="month" id="calendarFilter" name="start"
                       min="2018-03" value="">
                <input class="button1 button2" style="margin-left: 190px" type="submit" value="Search Month" onclick="logMonthYearFromMasterCalendar()">

            </div>
            <br>
            <div class="topPaneSeparator">
                <div style="float:bottom;">
            <input type="checkbox" name="services" onclick="showServices('servicesLimiter')" checked>Services Table
            <input type="checkbox" name="visits" onclick="showVisits('visitsLimiter')" checked>Visits Table
            <input type="checkbox" name="vehicles" onclick="showVehicles('vehiclesLimiter')" checked>Vehicles Table
                </div>
            </div>
        </div>
            </div>
        </div>
<!--            TABLES START HERE-->
        <!--    Service Orders    -->
        <div class="limiterCombined" id="servicesLimiter" >
            <div class="limiterLeft">
                <div class="leftFunctionsBottom" style="margin-top: 0;">
                    <div id="servicesButtons" style=" margin-left: 5px">
                        <button class="button1 button2" onclick="completeServiceRepairSetEndDate()">Complete Repair</button>
                        <button class="button1 button2" onclick="toggleUpdateServiceForm()">Update</button>
                        <button class="button1 button2" onclick="deleteServiceOrder()">Delete</button>
                        <button class="button1 button2" onclick="toggleAddRepairServiceForm()">Add repair to Vehicle</button>
                    </div>
                    <div class="hidden" id="updateServiceForm">
                        Service ID : <input type="text" name="service.idFromUpdate" id="service.idFromUpdate" value=""> <br>
                        Visit ID:   <input type="text" name="visit.idFromUpdate" id="visit.idFromUpdate" value=""> <br>
                        End Date:   <input type="date" name="endDateFromServiceUpdate" id="endDateFromServiceUpdate" value=""> <br>
                        <button class="button1 button2" onclick="updateServiceOrder()">Update</button>
                    </div>
                    <div class="hidden" id="addRepairFromService">
                        Repair ID : <input type="text" name="service.id" id="service.idFromAddRepair"> <br />
                        <button class="button1 button2" onclick="addRepairFromServiceButton()">Add Repair</button>
                        <h5>Can't remember Service ID?</h5>
                        <button class="button1 button2" onclick="cantRememberServiceIdRedirect()">Click here</button>
                    </div>
                </div>
            </div>
            <div class="limiterRight">
        <div class="tablesBorder">
            <div id="checkServices" style="display:block">
                <table class="table table-striped">
                    <tr class="bg-info" style="text-align: center">
                        <th class="service" data-column="id" data-order="desc">ServiceID &#9660</th>
                        <th class="service" data-column="visit.id" data-order="desc">VisitID &#9660</th>
                        <th class="service" data-column="visit.vehicle.licensePlate" data-order="desc">License Plate &#9660</th>
                        <th class="service" data-column="visit.service.name" data-order="desc">Repair Order &#9660</th>
                        <th class="service" data-column="visit.service.name" data-order="desc">Repair End Date &#9660</th>
                    </tr>
                    <tbody id="serviceOrdersTable">
                    </tbody>
                </table>
            </div>
        </div>
            </div>
        </div>
        <!--    Visits   -->
        <div class="limiterCombined" id="visitsLimiter" >
            <div class="limiterLeft">
                <div class="leftFunctions" style="padding: 2px;">
                    <div style="float:left">
                        <label>Search Visits by Date from</label>
                        <input type="date" id="visitCalendarFromDate" name="start"
                               min="2018-03" value="">
                        <br>
                        <label>To date</label>
                        <br>
                        <input type="date" id="visitCalendarToDate" name="start"
                               min="2018-03" value="">
                        <input class="button1 button2" type="submit" value="Search Visits" onclick="logDateFromVisitSearchCalendars()">
                    </div>
                </div>
                <div class="leftFunctionsBottom">
                    <div id="visitsButtons" style="padding: 2px;">
                        <button class="button1 button2" onclick="toggleUpdateVisitForm()">Update</button>
                        <button class="button1 button2" onclick="deleteVisit()">Delete</button>
                        <button class="button1 button2" onclick="toggleAddRepairVisitForm()">New Repair to Visit</button>
                        <button class="button1 button2" onclick="toggleNewVisitForm()">New Visit</button>
                    </div>
                    <div class="hidden" id="updateVisitForm">
                        Vehicle ID : <input type="text" name="vehicle.idFromUpdate" id="vehicle.idFromUpdate" value=""> <br>
                        Start Date:   <input type="date" name="startDateFromUpdate" id="startDateFromVisitUpdate" value=""> <br>
                        End Date:   <input type="date" name="endDateFromUpdate" id="endDateFromVisitUpdate" value=""> <br>
                        <button class="button1 button2" onclick="updateVisit()">Update</button>
                    </div>
                    <div class="hidden" id="addRepairFromVisit">
                        Repair ID : <input type="text" name="service.id" id="visit.idFromAddRepair"> <br />
                        <button class="button1 button2" onclick="newRepairToVisit()">Add Repair</button>
                        <h5>Can't remember Service ID?</h5>
                        <button class="button1 button2" onclick="cantRememberServiceIdRedirect()">Click here</button>
                    </div>
                    <div class="hidden" id="newVisit">
                        Vehicle ID : <input type="text" name="service.id" id="vehicle.idFromVisit"> <br />
                        <button class="button1 button2" onclick="newVisit()">Enter Shop</button>
                    </div>
                </div>
            </div>
            <div class="limiterRight">
        <div class="tablesBorder">
        <div id="checkVisits" style="display:block">
            <table class="table table-striped">
                <tr class="bg-info" style="text-align: center">
                    <th class="visit" data-column="id" data-order="desc">VisitID &#9660</th>
                    <th class="visit" data-column="vehicle.licensePlate" data-order="desc">License Plate &#9660</th>
                    <th class="visit" data-column="startDate" data-order="desc">Start Date &#9660</th>
                    <th class="visit" data-column="end_date" data-order="desc">End date &#9660</th>
                </tr>
                <tbody id="visitsTable">
            </table>
        </div>
        </div>
            </div>
        </div>
        <!--    Vehicles   -->
        <div class="limiterCombined" id="vehiclesLimiter" >
            <div class="limiterLeft">
                <div class="leftFunctions" >
                    <div style="float: left; margin-top: 20px; padding: 2px;">
                        <label>Search Vehicles by Owner ID:</label>
                        <input type="text" id="searchVehiclesByOwnerID" name="start" value="">
                        <input class="button1 button2" type="submit" value="Search" onclick="rebuildVehiclesTableFromOwnerIDSearch()">
                        <br>
                        <label>Can't remember OwnerID?</label>
                        <input class="button1 button2" type="submit" value="Find Here" onclick="toggleSearchOwnerById()">
                        <div class="hidden" id="searchByOwnerId">
                            <h5>Enter name, phone number or email here:</h5>
                        <label>First Name</label>
                        <br>
                        <input type="text" id="firstNameOwner" name="start" value="">
                        <br>
                        <label>Last Name</label>
                        <br>
                        <input type="text" id="lastNameOwner" name="start" value="">
                        <br>
                        <label>Phone Number</label>
                        <br>
                        <input type="text" id="phoneNumberOwner" name="start" value="">
                        <br>
                        <label>Email</label>
                        <br>
                        <input type="text" id="emailOwner" name="start" value="">
                        <input class="button1 button2" type="submit" value="Search" onclick="searchOwnerAndAlertOrBuildTable()">
                            </div>
                    </div>
                </div>
                <div class="leftFunctionsBottom" style="padding: 2px;">
                    <button class="button1 button2" onclick="toggleUpdateVehicleForm()">Update</button>
                    <button class="button1 button2" onclick="deleteVehicle()">Delete</button>
                    <button class="button1 button2" onclick="newVisitForVehicle()">New Visit</button>
                    <div class="hidden" id="updateVehicleForm">
                        License Plate : <input type="text" name="licensePlate" id="licensePlate" value=""> <br>
                        VIN : <input type="text" name="vin" id="vin" value=""> <br>
                        Year : <input type="text" name="year" id="year" value=""> <br>
                        Owner ID : <input type="text" name="year" id="ownerId" value=""> <br>
                        Model ID : <input type="text" name="year" id="modelId" value=""> <br>
                        <button class="button1 button2" onclick="updateVehicle()">Update</button>
                    </div>
                </div>
            </div>
            <div class="limiterRight">
        <div class="tablesBorder">
            <div id="checkVehicles" style="display:block">
                <table class="table table-striped" >
                    <tr  class="bg-info" style="text-align: center">
                        <th class="vehicle" data-column="visit.vehicle.id" data-order="desc">Vehicle ID &#9660</th>
                        <th class="vehicle" data-column="visit.vehicle.license_plate" data-order="desc">License Plate &#9660</th>
                        <th class="vehicle" data-column="visit.vehicle.vin" data-order="desc">VIN &#9660</th>
                        <th class="vehicle" data-column="visit.vehicle.year" data-order="desc">Year &#9660</th>
                        <th class="vehicle" data-column="visit.vehicle.owner.firstName" data-order="desc">Owner &#9660</th>
                        <th class="vehicle" data-column="visit.vehicle.model.name" data-order="desc">Model &#9660</th>
                    </tr>
                    <tbody id="vehiclesTable">
                    </tbody>
                </table>
            </div>
        </div>
            </div>
        </div>
        </div>

<!--    RIGHT PANE-->
    <div class="rightpane">
        <div class="extraInfoPanel">
            <h4 style="margin-left: 5px;">Click on table row to receive full info.</h4>
        <div id="wrapper" style="margin-left: 5px;">
        </div>
        </div>
    </div>
</div>




</body>

<script>
    // Services Button Functions.
    function completeServiceRepairSetEndDate(){
        console.log(serviceOrderById[0].endDate)
        if (serviceOrderById[0].endDate.localeCompare("Not set yet.") !== 0){
            alert("Service already has End Date! If you wish to change the end date, please use the update button.")
        } else {
            var serviceOrderID = serviceOrderById[0].id
            var serviceId = serviceOrderById[0].service.id
            var visitId = serviceOrderById[0].visit.id
            var todayDate = returnYear() + "-" + returnMonth() + "-" + returnDay() + " 00:00:00"
            $.ajax({
                method: 'PUT',
                headers: {'Authorization': 'a.d@gmail.com'},
                data: {"id": serviceOrderID, "serviceId": serviceId, "visitId": visitId, "endDate": todayDate},
                url: 'http://localhost:8080/api/serviceorders/front-end',
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                },
                success: function () {
                    alert("Successfully updated")
                    ajaxGetAllServiceOrderThisMonth()
                }
            })
        }
    }
    function deleteServiceOrder(){
        var serviceOrderID = serviceOrderById[0].id
        console.log(serviceOrderID)
        $.ajax({
            method: 'DELETE',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"id": serviceOrderID},
            url: 'http://localhost:8080/api/serviceorders',
            success: function () {
                alert("Successfully deleted")
                ajaxGetAllServiceOrderThisMonth()
            }
        })
    }
    function addRepairFromServiceButton(){
        var serviceId = document.getElementById('service.idFromAddRepair').value
        var visitId = serviceOrderById[0].visit.id
        $.ajax({
            method: 'POST',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"serviceId": serviceId, "visitId": visitId},
            url: 'http://localhost:8080/api/serviceorders/front-end',
            error: function(xhr, status, error) {
                alert(xhr.responseText);
            },
            success: function () {
                alert("Repair successfully added to vehicle and visit!")
                ajaxGetAllServiceOrderThisMonth()
                toggleAddRepairServiceForm()
            }
        })
    }
    function updateServiceOrder(){
        var serviceOrderID = serviceOrderById[0].id
        var serviceId = document.getElementById('service.idFromUpdate').value
        var visitId = document.getElementById('visit.idFromUpdate').value
        var dateFromValue = document.getElementById('endDateFromServiceUpdate').value
        var fullDate = dateFromValue + " 00:00:00"
        $.ajax({
            method: 'PUT',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"id": serviceOrderID,"serviceId": serviceId, "visitId": visitId, "endDate": fullDate},
            url: 'http://localhost:8080/api/serviceorders/front-end',
            error: function(xhr, status, error) {
                alert(xhr.responseText);
            },
            success: function () {
                alert("Successfully updated")
                ajaxGetAllServiceOrderThisMonth()
                toggleUpdateServiceForm()
            }
        })
    }

    //Visit Button Functions
    function updateVisit(){
        var visitId = visitById[0].id;
        var vehicleId = document.getElementById('vehicle.idFromUpdate').value
        var startDateFromValue = document.getElementById('startDateFromVisitUpdate').value
        var endDateFromValue = document.getElementById('endDateFromVisitUpdate').value
        var startDateFinal = startDateFromValue +  " 00:00:00"
        var endDateFinal = endDateFromValue +  " 00:00:00"
        $.ajax({
            method: 'PUT',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"id": visitId, "vehicleId": vehicleId, "startDate": startDateFinal, "endDate": endDateFinal},
            url: 'http://localhost:8080/api/visits/front-end',
            error: function(xhr, status, error) {
                alert("Vehicle Cannot be Deleted if it still in shop or has past Visits!");
            },
            success: function () {
                alert("Successfully updated")
                ajaxGetAllVisitsThisMonth()
                toggleUpdateVisitForm()
            }
        })
    }
    function deleteVisit(){
        var visitId = visitById[0].id;
        $.ajax({
            method: 'DELETE',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"id": visitId},
            url: 'http://localhost:8080/api/visits',
            error: function(xhr, status, error) {
                alert(xhr.responseText);
            },
            success: function () {
                alert("Successfully deleted")
                ajaxGetAllVisitsThisMonth()
            }
        })
    }
    function newRepairToVisit(){
        var visitId = visitById[0].id;
        var serviceId = document.getElementById('visit.idFromAddRepair').value
        $.ajax({
            method: 'POST',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"serviceId": serviceId, "visitId": visitId},
            url: 'http://localhost:8080/api/serviceorders/front-end',
            error: function(xhr, status, error) {
                alert(xhr.responseText);
            },
            success: function () {
                alert("Repair successfully added to vehicle and visit!")
                ajaxGetAllServiceOrderThisMonth()
                toggleAddRepairVisitForm()
            }
        })
    }
    function newVisit(){
        var vehicleId = document.getElementById('vehicle.idFromVisit').value
        var today = returnYear() + "-" + returnMonth() + "-" + returnDay() + " 00:00:00"
        $.ajax({
            method: 'POST',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"vehicleId": vehicleId, "startDate": today},
            url: 'http://localhost:8080/api/visits/front-end',
            error: function(xhr, status, error) {
                alert(xhr.responseText);
            },
            success: function () {
                alert("Vehicle with id: " + vehicleId + " successfully entered the shop!")
                ajaxGetAllVisitsThisMonth()
                toggleNewVisitForm()
            }
        })
    }

    //Vehicles Button Functions
    function updateVehicle(){
        var vehicleId = vehicleDataToDisplay[0].id
        var licensePlate = document.getElementById('licensePlate').value
        var vin = document.getElementById('vin').value
        var year = document.getElementById('year').value
        var ownerId = document.getElementById('ownerId').value
        var modelId = document.getElementById('modelId').value
        $.ajax({
            method: 'PUT',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"id": vehicleId, "license_plate": licensePlate, "vin": vin, "year": year,
                "owner_id": ownerId, "model_id": modelId},
            url: 'http://localhost:8080/api/vehicles/front-end',
            error: function(xhr, status, error) {
                alert(xhr.responseText);
            },
            success: function () {
                alert("Successfully updated")
                ajaxGetAllVehiclesThisMonth()
                toggleUpdateVehicleForm()
            }
        })
    }
    function deleteVehicle(){
        var vehicleId = vehicleDataToDisplay[0].id
        $.ajax({
            method: 'DELETE',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"id": vehicleId},
            url: 'http://localhost:8080/api/vehicles',
            error: function(xhr, status, error) {
                alert(xhr.responseText);
            },
            success: function () {
                alert("Vehicle successfully deleted!")
                ajaxGetAllVehiclesThisMonth()
            }
        })
    }
    function newVisitForVehicle(){
        var vehicleId = vehicleDataToDisplay[0].id
        var today = returnYear() + "-" + returnMonth() + "-" + returnDay() + " 00:00:00"
        $.ajax({
            method: 'POST',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"vehicleId": vehicleId, "startDate": today},
            url: 'http://localhost:8080/api/visits/front-end',
            error: function(xhr, status, error) {
                alert(xhr.responseText);
            },
            success: function () {
                alert("Vehicle with id: " + vehicleId + " successfully entered the shop!")
                ajaxGetAllVisitsThisMonth()
            }
        })
    }

    //Can't remember Service ID button redirect function
    function cantRememberServiceIdRedirect(){
    }

    // Initial Ajax requests and array creation for first time table creation
    var serviceOrdersArray = []
    var vehiclesArray = []
    var visitsArray = []
    var usersArray = []
    ajaxGetAllServiceOrderThisMonth()
    ajaxGetAllVehiclesThisMonth()
    ajaxGetAllVisitsThisMonth()
    function ajaxGetAllServiceOrderThisMonth() {
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"year": returnYear(), "month": returnMonth()},
            url: 'http://localhost:8080/api/serviceorders/getByMonth',
            success: function (response) {
                serviceOrdersArray = response
                buildServiceOrdersTable(serviceOrdersArray)
            }
        })
    }
    function ajaxGetAllVehiclesThisMonth() {
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"year": returnYear(), "month": returnMonth()},
            url: 'http://localhost:8080/api/vehicles/getbymonth',
            success: function (response) {
                vehiclesArray = response
                buildVehiclesTable(vehiclesArray)
            }
        })
    }
    function ajaxGetAllVisitsThisMonth() {
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"year": returnYear(), "month": returnMonth()},
            url: 'http://localhost:8080/api/visits/getbymonth',
            success: function (response) {
                visitsArray = response
                buildVisitsTable(visitsArray)
            }
        })
    }

    //Ajax getByMonth methods for visits, services, visits and change tables on date search from calendar
    function rebuildTablesFromMasterCalendarSearch(yearMonth){
        var year = yearMonth.substr(0,4)
        var month = yearMonth.substr(5,6)
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"year": year, "month": month},
            url: 'http://localhost:8080/api/serviceorders/getByMonth',
            success: function (response) {
                serviceOrdersArray = response
                buildServiceOrdersTable(serviceOrdersArray)
            }
        })
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"year": year, "month": month},
            url: 'http://localhost:8080/api/vehicles/getbymonth',
            success: function (response) {
                vehiclesArray = response
                buildVehiclesTable(vehiclesArray)
            }
        })
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"year": year, "month": month},
            url: 'http://localhost:8080/api/visits/getbymonth',
            success: function (response) {
                visitsArray = response
                buildVisitsTable(visitsArray)
            }
        })
    }

    //Ajax getVisitByDate and rebuild Visits table
    function rebuildVisitsTableFromLeftPanelCalendarSearch(fromDate, toDate){
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"startDate": fromDate, "endDate": toDate},
            url: 'http://localhost:8080/api/visits/date',
            success: function (response) {
                serviceOrdersArray = response
                buildVisitsTable(response)
            }
        })
    }

    //Ajax getVehiclesByOwnerID and rebuild Vehicles table
    function rebuildVehiclesTableFromOwnerIDSearch(){
        var ownerID = document.getElementById('searchVehiclesByOwnerID').value
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"ownerId": ownerID},
            url: 'http://localhost:8080/api/vehicles',
            error: function(xhr, status, error) {
                alert(xhr.responseText);
            },
            success: function (response) {
                vehiclesArray = response
                buildVehiclesTable(vehiclesArray)
            }
        })
    }

    //Ajax filter Owner by name, phone or email.
    function searchOwnerAndAlertOrBuildTable(){
        var firstName = document.getElementById('firstNameOwner').value
        var lastName = document.getElementById('lastNameOwner').value
        var phone = document.getElementById('phoneNumberOwner').value
        var email = document.getElementById('emailOwner').value
        var queryParams = []
        var data = {};

        if(firstName != '') {
            data['firstName'] = firstName;
            queryParams.push("firstName=" + firstName);
        }

        if(lastName != '') {
            data['lastName'] = lastName;
            queryParams.push("lastName=" + lastName);
        }

        if(phone != '') {
            data['phone'] = phone;
            queryParams.push("phone=" + phone);
        }

        if (email != '') {
            data['email'] = email;
            queryParams.push("email=" + email);
        }

        var queryString = queryParams.join('&')

        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: data,
            url: 'http://localhost:8080/api/users/customers/filter',
            success: function (response) {
                usersArray = response
                console.log(usersArray.length)
                console.log(usersArray)
                alertOrBuildNewTableWithAllUsers(queryString);
            }
        })
    }

    //Alert if 1 user returned build new table if more.
    function alertOrBuildNewTableWithAllUsers(queryString){
        var length = usersArray.length;
        if (length <= 2) {
           alert(JSON.stringify(usersArray, null, 4))
       } else  if (length > 2){
           window.location = "http://localhost:8080/admin-panel?" + queryString;
       } else if (length === 0){
           alert("No users with such credentials were found")
       } else {
           alert("No users with such credentials were found")
       }
    }

    // Master search bar filter for all three tables.
    $('#search-input').on('keyup', function (){
        var value = $(this).val()
        var visitsData = searchVisitsTable(value, visitsArray)
        var vehiclesData = searchVehiclesTable(value, vehiclesArray)
        var servicesData = searchServicesTable(value, serviceOrdersArray)
        buildVisitsTable(visitsData)
        buildVehiclesTable(vehiclesData)
        buildServiceOrdersTable(servicesData)
    })
    function searchServicesTable(value, servicesArray){
        var filteredData = []
        for (var i = 0; i < servicesArray.length; i++) {
            value = value.toLowerCase()
            var serviceId = servicesArray[i].id
            var visitId = servicesArray[i].visit.id
            var repairOrder = servicesArray[i].service.name.toLowerCase()
            var licensePlate = servicesArray[i].visit.vehicle.licensePlate.toLowerCase()
            if (serviceId == value ||
                visitId == value ||
                repairOrder.includes(value) ||
                licensePlate.includes(value)){
                filteredData.push(servicesArray[i])
            }
        }
        return filteredData
    }
    function searchVisitsTable(value, visitsArray){
        var filteredData = []
        for (var i = 0; i < visitsArray.length; i++) {
            value = value.toLowerCase()
            var visitId = visitsArray[i].id
            var licensePlate = visitsArray[i].vehicle.licensePlate.toLowerCase()
            var startDate = visitsArray[i].startDate
            var endDate = visitsArray[i].endDate
            if (!endDate){
                endDate = "no date set."
            }
            if (visitId == value ||
                licensePlate.includes(value) ||
                startDate == value ||
                endDate == value){
                filteredData.push(visitsArray[i])
            }
        }
        return filteredData
    }
    function searchVehiclesTable(value, vehiclesArray){
        var filteredData = []
        for (var i = 0; i < vehiclesArray.length; i++) {
            value = value.toLowerCase()
            var vehicleId = vehiclesArray[i].id
            var licensePlate = vehiclesArray[i].licensePlate.toLowerCase()
            var vin = vehiclesArray[i].vin.toLowerCase()
            var year = vehiclesArray[i].year
            var owner = vehiclesArray[i].owner.firstName.toLowerCase() + " " + vehiclesArray[i].owner.lastName.toLowerCase()
            var model = vehiclesArray[i].model.modelName.toLowerCase()

            if (vehicleId == value ||
                licensePlate.includes(value) ||
                vin.includes(value) ||
                year == value ||
                owner.includes(value) ||
                model.includes(value)){
                filteredData.push(vehiclesArray[i])
            }
        }
        return filteredData
    }

    // Sort tables functions
    $(`.service`).on(`click`, function (){
        var column = $(this).data('column')
        var order = $(this).data('order')
        var text = $(this).html()
        text = text.substring(0, text.length - 1)

        if (order == 'desc'){
            $(this).data('order', "asc")
            serviceOrdersArray = serviceOrdersArray.sort((a,b) => a[column] < b[column] ? 1 : -1)
            text += '&#9650'
        } else {
            $(this).data('order', "desc")
            serviceOrdersArray = serviceOrdersArray.sort((a,b) => a[column] > b[column] ? 1 : -1)
            text += '&#9660'
        }
        $(this).html(text)
        buildServiceOrdersTable(serviceOrdersArray)
    })
    $(`.vehicle`).on(`click`, function (){
        var column = $(this).data('column')
        var order = $(this).data('order')
        var text = $(this).html()
        text = text.substring(0, text.length - 1)

        if (order == 'desc'){
            $(this).data('order', "asc")
            vehiclesArray = vehiclesArray.sort((a,b) => a[column] < b[column] ? 1 : -1)
            text += '&#9650'
        } else {
            $(this).data('order', "desc")
            vehiclesArray = vehiclesArray.sort((a,b) => a[column] > b[column] ? 1 : -1)
            text += '&#9660'
        }
        $(this).html(text)
        buildVehiclesTable(vehiclesArray)
    })
    $(`.visit`).on(`click`, function (){
        var column = $(this).data('column')
        var order = $(this).data('order')
        var text = $(this).html()
        text = text.substring(0, text.length - 1)

        if (order == 'desc'){
            $(this).data('order', "asc")
            visitsArray = visitsArray.sort((a,b) => a[column] < b[column] ? 1 : -1)
            text += '&#9650'
        } else {
            $(this).data('order', "desc")
            visitsArray = visitsArray.sort((a,b) => a[column] > b[column] ? 1 : -1)
            text += '&#9660'
        }
        $(this).html(text)
        buildVisitsTable(visitsArray)
    })

    // Build Tables functions
    function buildServiceOrdersTable(data) {
        var table = document.getElementById('serviceOrdersTable')
        table.innerHTML = ''
        var repairStatusInProgress = "In Progress"
        var repairStatusCompleted = "Completed"
        var status = ""
        for (var i = 0; i < data.length; i++) {
            if (data[i].endDate === null){
                data[i].endDate = "Repair in progress"
                status = repairStatusInProgress
            } else if(data[i].endDate !== null){
                status = repairStatusCompleted
            }
            var row = `<tr class="servicesRows">
                    <td>${data[i].id}</td>
                    <td>${data[i].visit.id}</td>
                    <td>${data[i].visit.vehicle.licensePlate}</td>
                    <td>${data[i].service.name}</td>
                    <td>${data[i].endDate}</td>
                    </tr>`
            table.innerHTML += row
        }
        clickableServicesVisitsTable()
    }
    function buildVehiclesTable(data) {
        var table = document.getElementById('vehiclesTable')
        table.innerHTML = ''
        for (var i = 0; i < data.length; i++) {
            var row = `<tr class="vehicleRows">
                        <td>${data[i].id}</td>
                        <td>${data[i].licensePlate}</td>
                        <td>${data[i].vin}</td>
                        <td>${data[i].year}</td>
                        <td>${data[i].owner.firstName + " " + data[i].owner.lastName}</td>
                        <td>${data[i].model.modelName}</td>
                    </tr>`
            table.innerHTML += row
        }
        clickableRowVehiclesTable();
    }
    function buildVisitsTable(data){
        var table = document.getElementById('visitsTable')
        table.innerHTML = ''
        for (var i = 0; i < data.length; i++) {
            if (data[i].endDate === null){
                data[i].endDate = "Not set yet."
            }
            var row = `<tr class="visitsRows">
                        <td>${data[i].id}</td>
                        <td>${data[i].vehicle.licensePlate}</td>
                        <td>${data[i].startDate}</td>
                        <td>${data[i].endDate}</td>

                    </tr>`
            table.innerHTML += row
        }
        clickableRowVisitsTable()
    }

    // Functions for hiding Tables.
    function showServices (box) {

        var chboxs = document.getElementsByName("services");
        var vis = "none";
        for(var i=0;i<chboxs.length;i++) {
            if(chboxs[i].checked){
                vis = "block";
                break;
            }
        }
        document.getElementById(box).style.display = vis;
    }
    function showVisits (box) {

        var chboxs = document.getElementsByName("visits");
        var vis = "none";
        for(var i=0;i<chboxs.length;i++) {
            if(chboxs[i].checked){
                vis = "block";
                break;
            }
        }
        document.getElementById(box).style.display = vis;
    }
    function showVehicles (box) {

        var chboxs = document.getElementsByName("vehicles");
        var vis = "none";
        for(var i=0;i<chboxs.length;i++) {
            if(chboxs[i].checked){
                vis = "block";
                break;
            }
        }
        document.getElementById(box).style.display = vis;
    }

    //Function extract data from clickable rows, Connected to sendDataToRightPane()
    function clickableRowVehiclesTable(){
        const selectTr = document.querySelectorAll(".vehicleRows");
        for(items of selectTr){
            items.addEventListener("click",e=>{
                var wholeRow = e.toElement.parentElement.innerText;
                var stringArray = wholeRow.split(/(\s+)/);
                var whichTable = e.path[4].id;
                console.log("table clicked:" + whichTable)
                if (stringArray[0].localeCompare("ServiceID") == 0 ||
                    stringArray[0].localeCompare("VisitID") == 0 ||
                    stringArray[0].localeCompare("Vehicle") == 0){
                    // do nothing. this is in case column header is clicked when sorting.
                } else {
                    sendDataToRightPane(stringArray[0], whichTable);
                }
            });
        }
    }
    function clickableRowVisitsTable(){
        const selectTr = document.querySelectorAll(".visitsRows");
        for(items of selectTr){
            items.addEventListener("click",e=>{
                var wholeRow = e.toElement.parentElement.innerText;
                var stringArray = wholeRow.split(/(\s+)/);
                var whichTable = e.path[4].id;
                console.log("table clicked:" + whichTable)
                if (stringArray[0].localeCompare("ServiceID") == 0 ||
                    stringArray[0].localeCompare("VisitID") == 0 ||
                    stringArray[0].localeCompare("Vehicle") == 0){
                    // do nothing. this is in case column header is clicked when sorting.
                } else {
                    sendDataToRightPane(stringArray[0], whichTable);
                }
            });
        }
    }
    function clickableServicesVisitsTable(){
        const selectTr = document.querySelectorAll(".servicesRows");
        for(items of selectTr){
            items.addEventListener("click",e=>{
                var wholeRow = e.toElement.parentElement.innerText;
                var stringArray = wholeRow.split(/(\s+)/);
                var whichTable = e.path[4].id;
                console.log("table clicked:" + whichTable)
                if (stringArray[0].localeCompare("ServiceID") == 0 ||
                    stringArray[0].localeCompare("VisitID") == 0 ||
                    stringArray[0].localeCompare("Vehicle") == 0){
                    // do nothing. this is in case column header is clicked when sorting.
                } else {
                    sendDataToRightPane(stringArray[0], whichTable);
                }
            });
        }
    }
    //Function to send data to right pane.
    var vehicleDataToDisplay;
    var allVisitsByVehicleId;
    var serviceOrdersByVisitId = [];
    var serviceOrderById = [];
    var visitById = [];
    function sendDataToRightPane(id, whichTable) {
        var servicesButton = document.getElementById("servicesButtons");
        var visitsButton = document.getElementById("visitsButtons");
        var vehicleButton = document.getElementById("vehicleButtons");
        if (whichTable.localeCompare("checkServices") == 0) {
            getAllServiceInformationAndSendInfoToRightPane(id)
            if (servicesButton.style.display === "block"){
                // do nothing. buttons already showing.
            } else {
                if (visitsButton.style.display === "block"){
                    toggleVisitsOptionsButtons()
                } else if (vehicleButton.style.display === "block"){
                    toggleVehicleOptionsButtons()
                }
                toggleServicesOptionsButtons()
            }


        } else if (whichTable.localeCompare("checkVisits") == 0) {
            getAllVisitInformationAndDisplayInfoInRightPane(id)
            if (visitsButton.style.display === "block"){
                // do nothing. buttons already showing.
            } else {
                if (servicesButton.style.display === "block"){
                    toggleServicesOptionsButtons()
                } else if (vehicleButton.style.display === "block"){
                    toggleVehicleOptionsButtons()
                }
                toggleVisitsOptionsButtons()
            }

        } else if (whichTable.localeCompare("checkVehicles") == 0) {
            getAllVehicleInformationByIdAndDisplayInfoInRightPane(id)
            if (vehicleButton.style.display === "block"){
                // do nothing. buttons already showing.
            } else {
                if (visitsButton.style.display === "block"){
                    toggleVisitsOptionsButtons()
                } else if (servicesButton.style.display === "block"){
                    toggleServicesOptionsButtons()
                }
                toggleVehicleOptionsButtons()
            }
        }
    }

    // Ajax get Visit by Id, get All services by VisitId
    function getAllVisitInformationAndDisplayInfoInRightPane(visitId){
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"visitId": visitId},
            url: 'http://localhost:8080/api/serviceorders/getbyvisitid',
            success: function (response) {
                serviceOrdersByVisitId = response;
            }
        })

        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"id": visitId},
            url: 'http://localhost:8080/api/visits',
            success: function (response) {
                visitById = response;
                try {
                    document.getElementById("visualisation").remove();
                } catch (e) {
                }
                displayVisitInformationInRightPane()
            }
        })
    }
    // Display Visit information in right pane.
    function displayVisitInformationInRightPane(){
        var visitDisplayText = ""
        if (visitById[0].endDate === null){
            visitDisplayText = visitById[0].startDate + " - Vehicle currently in shop"
        } else {
            visitDisplayText = visitById[0].startDate + " - " + visitById[0].endDate
        }
        var repairNames = ""
        var allRepairsIds = ""
        var totalCostForLastVisit = 0;
        for (let i = 0; i < serviceOrdersByVisitId.length; i++) {
            allRepairsIds += serviceOrdersByVisitId[i].service.id + ", "
            totalCostForLastVisit += serviceOrdersByVisitId[i].service.price
            repairNames += serviceOrdersByVisitId[i].service.name + ", "
        }
        if (repairNames.localeCompare("") === 0 ){
            repairNames = "None added to this visit yet."
            allRepairsIds = "None added to this visit yet."
        }
        var wrapper = $('#wrapper'), container;
        container = $('<div id="visualisation" class="container"></div>');
        wrapper.append(container);
        container.append('<div class="coloredHeader">' + "Visit ID:" + '</div>');
        container.append('<div class="item">' + visitById[0].id + '</div>');
        container.append('<div class="coloredHeader">' + "Start End Date:" + '</div>');
        container.append('<div class="item">' + visitDisplayText + '</div>');
        container.append('<div class="coloredHeader">' + "All repairs IDs for current visit:" + '</div>');
        container.append('<div class="item">' + allRepairsIds + '</div>');
        container.append('<div class="coloredHeader">' + "Repair names:" + '</div>');
        container.append('<div class="item">' + repairNames + '</div>');
        container.append('<div class="coloredHeader">' + "Total cost for visit:" + '</div>');
        container.append('<div class="item">' + totalCostForLastVisit + " BGN" + '</div>');
        container.append('<div class="coloredHeader">' + "Vehicle ID:" + '</div>');
        container.append('<div class="item">' + visitById[0].vehicle.id + '</div>');
        container.append('<div class="coloredHeader">' + "Vehicle License Plate:" + '</div>');
        container.append('<div class="item">' + visitById[0].vehicle.licensePlate + '</div>');
        container.append('<div class="coloredHeader">' + "Vehicle Model:" + '</div>');
        container.append('<div class="item">' + visitById[0].vehicle.model.modelName + '</div>');
        container.append('<div class="coloredHeader">' + "Vehicle Manufacturer:" + '</div>');
        container.append('<div class="item">' + visitById[0].vehicle.model.brand.brandName + '</div>');
        container.append('<div class="coloredHeader">' + "Vehicle Owner ID:" + '</div>');
        container.append('<div class="item">' + visitById[0].vehicle.owner.id + '</div>');
        container.append('<div class="coloredHeader">' + "Vehicle Owner Name:" + '</div>');
        container.append('<div class="item">' + visitById[0].vehicle.owner.firstName + " " +
            visitById[0].vehicle.owner.lastName+ '</div>');
        container.append('<div class="coloredHeader">' + "Vehicle Owner Phone:" + '</div>');
        container.append('<div class="item">' + visitById[0].vehicle.owner.phone + '</div>');
    }

    //Ajax get Service by Id.
    function getAllServiceInformationAndSendInfoToRightPane(serviceId){
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"id": serviceId},
            url: 'http://localhost:8080/api/serviceorders',
            success: function (response) {
                serviceOrderById = response;
                try {
                    document.getElementById("visualisation").remove();
                } catch (e) {
                }
                displayServiceInformationInRightPane()
            }
        })
    }
    // Display Service info in right pane.
    function displayServiceInformationInRightPane(){
        var repairStatusInProgress = "In Progress"
        var repairStatusCompleted = "Completed"
        var status = ""
        if (serviceOrderById[0].endDate === null){
            serviceOrderById[0].endDate = "Not set yet."
            status = repairStatusInProgress
        } else if(serviceOrderById[0].endDate !== null){
            status = repairStatusCompleted
        }
        var wrapper = $('#wrapper'), container;
        container = $('<div id="visualisation" class="container"></div>');
        wrapper.append(container);
        container.append('<div class="coloredHeader">' + "Service ID:" + '</div>');
        container.append('<div class="item">' + serviceOrderById[0].id + '</div>');
        container.append('<div class="coloredHeader">' + "Repair:" + '</div>');
        container.append('<div class="item">' + serviceOrderById[0].service.name + '</div>');
        container.append('<div class="coloredHeader">' + "Repair cost:" + '</div>');
        container.append('<div class="item">' + serviceOrderById[0].service.price + "BGN" + '</div>');
        container.append('<div class="coloredHeader">' + "Repair status:" + '</div>');
        container.append('<div class="item">' + status + '</div>');
        container.append('<div class="coloredHeader">' + "Visit ID:" + '</div>');
        container.append('<div class="item">' + serviceOrderById[0].visit.id + '</div>');
        container.append('<div class="coloredHeader">' + "Vehicle ID:" + '</div>');
        container.append('<div class="item">' + serviceOrderById[0].visit.vehicle.id + '</div>');
        container.append('<div class="coloredHeader">' + "Vehicle Model:" + '</div>');
        container.append('<div class="item">' + serviceOrderById[0].visit.vehicle.model.modelName + '</div>');
        container.append('<div class="coloredHeader">' + "Vehicle Manufacturer:" + '</div>');
        container.append('<div class="item">' + serviceOrderById[0].visit.vehicle.model.brand.brandName + '</div>');
        container.append('<div class="coloredHeader">' + "Owner ID:" + '</div>');
        container.append('<div class="item">' + serviceOrderById[0].visit.vehicle.owner.id + '</div>');
        container.append('<div class="coloredHeader">' + "Owner Name:" + '</div>');
        container.append('<div class="item">' + serviceOrderById[0].visit.vehicle.owner.firstName +
            serviceOrderById[0].visit.vehicle.owner.lastName + '</div>');
        container.append('<div class="coloredHeader">' + "Owner Phone:" + '</div>');
        container.append('<div class="item">' + serviceOrderById[0].visit.vehicle.owner.phone + '</div>');
    }

    // Ajax Get Vehicle by ID. Trigger right pane build function.
    function getAllVehicleInformationByIdAndDisplayInfoInRightPane(vehicleId) {
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"vehicleId": vehicleId},
            url: 'http://localhost:8080/api/visits/getbyvehicleid',
            success: function (response) {
                allVisitsByVehicleId = response;
            }
        })
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"id": vehicleId},
            url: 'http://localhost:8080/api/vehicles',
            success: function (response) {
                vehicleDataToDisplay = response;

            }
        })
        getAllServiceOrderByVisitId()
    }
    // Ajax getAllServiceOrderByVisitId
    function getAllServiceOrderByVisitId(){
        try {
            var visitId = allVisitsByVehicleId[0].id;
        } catch (e){
            // do nothing. gives error only at first load.
        }
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"visitId": visitId},
            url: 'http://localhost:8080/api/serviceorders/getbyvisitid',
            success: function (response) {
                serviceOrdersByVisitId = response;
                console.log(response)
                try {
                    document.getElementById("visualisation").remove();
                } catch (e) {
                }
                displayVehicleInformationInRightPane()
            }
        })
    }
    // Display Right Pane Vehicle information
    function displayVehicleInformationInRightPane(){
        var visitDisplayText = ""
        if (allVisitsByVehicleId[0].endDate === null){
            visitDisplayText = "Entered shop at:" + allVisitsByVehicleId[0].startDate +  ",Vehicle is currently in shop"
        } else {
            visitDisplayText = allVisitsByVehicleId[0].startDate +
                " " +  allVisitsByVehicleId[0].endDate
        }
        var allRepairsForLastVisit = ""
        var totalCostForLastVisit = 0;
        for (let i = 0; i < serviceOrdersByVisitId.length; i++) {
            allRepairsForLastVisit += serviceOrdersByVisitId[i].service.name + ", "
            totalCostForLastVisit += serviceOrdersByVisitId[i].service.price
        }
        var allVisitsById = "";
        for (let i = 0; i < allVisitsByVehicleId.length; i++) {
            allVisitsById += allVisitsByVehicleId[i].id + ", "
        }
        var wrapper = $('#wrapper'), container;
        container = $('<div id="visualisation" class="container"></div>');
        wrapper.append(container);
        container.append('<div class="coloredHeader">' + "Vehicle ID:" + '</div>');
        container.append('<div class="item">' + vehicleDataToDisplay[0].id + '</div>');
        container.append('<div class="coloredHeader">' + "License plate:" + '</div>');
        container.append('<div class="item">' + vehicleDataToDisplay[0].licensePlate + '</div>');
        container.append('<div class="coloredHeader">' + "VIN number:" + '</div>');
        container.append('<div class="item">' + vehicleDataToDisplay[0].vin + '</div>');
        container.append('<div class="coloredHeader">' + "Manufacturer:" + '</div>');
        container.append('<div class="item">' + vehicleDataToDisplay[0].model.brand.brandName + '</div>');
        container.append('<div class="coloredHeader">' + "Model:" + '</div>');
        container.append('<div class="item">' + vehicleDataToDisplay[0].model.modelName + '</div>');
        container.append('<div class="coloredHeader">' + "Year:" + '</div>');
        container.append('<div class="item">' + vehicleDataToDisplay[0].year + '</div>');
        container.append('<div class="coloredHeader">' + "Owner:" + '</div>');
        container.append('<div class="item">' + vehicleDataToDisplay[0].owner.firstName +
            " " + vehicleDataToDisplay[0].owner.lastName + '</div>');
        container.append('<div class="coloredHeader">' + "Last Visit Start and End Date:" + '</div>');
        container.append('<div class="item">' + visitDisplayText + '</div>');
        container.append('<div class="coloredHeader">' + "Visit repairs list:" + '</div>');
        container.append('<div class="item">' + allRepairsForLastVisit + '</div>');
        container.append('<div class="coloredHeader">' + "Total Cost for last visit:" + '</div>');
        container.append('<div class="item">' + totalCostForLastVisit +" BGN"+ '</div>');
        container.append('<div class="coloredHeader">' + "All previous visits by ID:" + '</div>');
        container.append('<div class="item">' + allVisitsById + '</div>');
    }

    //Function load current month into the calendar
    function loadDateIntoCalenderFilter(){
        var todayDate = new Date();
        var y = todayDate.getFullYear();
        var m = todayDate.getMonth() + 1;
        var correctMonthForCalender = "";
        if (m < 10){
            correctMonthForCalender = correctMonthForCalender + "0" + m;
        }
        document.getElementById('calendarFilter').value = y + "-" + correctMonthForCalender;
    }
    loadDateIntoCalenderFilter()

    // Functions to return year and month for initial Ajax requests. Current month and year.
    function returnYear(){
        var todayDate = new Date();
        return todayDate.getFullYear();
    }
    function returnMonth(){
        var todayDate = new Date();
        var y = todayDate.getFullYear();
        var m = todayDate.getMonth() + 1;
        var correctMonthForCalender = "";
        if (m < 10){
            correctMonthForCalender = correctMonthForCalender + "0" + m;
        }
        return correctMonthForCalender;
    }
    function returnDay(){
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        return dd;
    }

    //Log current month and year selected from calendar and rebuild tables based on that.
    function logMonthYearFromMasterCalendar(){
        var yearMonth = document.getElementById('calendarFilter').value
        rebuildTablesFromMasterCalendarSearch(yearMonth)
    }

    // Log date from and date to from Left Pane Calendars and rebuild Visits table.
    function logDateFromVisitSearchCalendars(){
        var fromDate = document.getElementById('visitCalendarFromDate').value
        var toDate = document.getElementById('visitCalendarToDate').value
        fromDate = fromDate + " 00:00:00"
        toDate = toDate + " 00:00:00"
        rebuildVisitsTableFromLeftPanelCalendarSearch(fromDate, toDate)
    }

    // Functions for toggling function buttons when table is clicked. Specific for table
    function toggleVehicleOptionsButtons() {
        var x = document.getElementById("vehicleButtons");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function toggleServicesOptionsButtons() {
        var x = document.getElementById("servicesButtons");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function toggleVisitsOptionsButtons() {
        var x = document.getElementById("visitsButtons");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function toggleAddRepairServiceForm(){
        var x = document.getElementById("addRepairFromService");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function toggleUpdateServiceForm(){
        var x = document.getElementById("updateServiceForm");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        document.getElementById('service.idFromUpdate').value = serviceOrderById[0].service.id;
        document.getElementById('visit.idFromUpdate').value = serviceOrderById[0].visit.id;
        var unconvertedDate = serviceOrderById[0].endDate;
        var convertedDate = reverseDateFormat(unconvertedDate)
        document.getElementById('endDateFromServiceUpdate').value = convertedDate;
    }
    function toggleUpdateVisitForm(){
        var x = document.getElementById("updateVisitForm");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        document.getElementById('vehicle.idFromUpdate').value = visitById[0].id;
        var unconvertedStartDate = visitById[0].startDate
        var unconvertedEndDate = visitById[0].endDate
        var convertedStartDate = reverseDateFormat(unconvertedStartDate)
        var convertedEndDate = reverseDateFormat(unconvertedEndDate)
        document.getElementById('startDateFromVisitUpdate').value = convertedStartDate
        document.getElementById('endDateFromVisitUpdate').value = convertedEndDate

    }
    function toggleAddRepairVisitForm(){
        var x = document.getElementById("addRepairFromVisit");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function toggleNewVisitForm(){
        var x = document.getElementById("newVisit");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function toggleUpdateVehicleForm(){
        var x = document.getElementById("updateVehicleForm");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        document.getElementById('licensePlate').value = vehicleDataToDisplay[0].licensePlate
        document.getElementById('vin').value = vehicleDataToDisplay[0].vin
        document.getElementById('year').value = vehicleDataToDisplay[0].year
        document.getElementById('ownerId').value = vehicleDataToDisplay[0].owner.id
        document.getElementById('modelId').value = vehicleDataToDisplay[0].model.id

    }

    function toggleSearchOwnerById(){
        var x = document.getElementById("searchByOwnerId");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }


    function reverseDateFormat(date){
        var year = date.substr(6);
        var month = date.substr(3,3);
        var day = date.substr(0,2);
        var fullDate = year + "-" + month + day;
        return fullDate;
    }

</script>
</html>