<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords"
          content="Logistic Company, Shipping Solutions, about company, Save time.Save money.Save the planet., About, Contact Us">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/nicepage.css" media="screen" th:href="@{/css/nicepage.css}">
    <link rel="stylesheet" href="../static/css/Home.css" media="screen" th:href="@{/css/Home.css}">
<!--    <script class="u-script" type="text/javascript" src="../static/js/jquery.js" defer=""-->
<!--            th:src="@{/js/jquery.js}"></script>-->
<!--    <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" defer=""-->
<!--            th:src="@{/js/nicepage.js}"></script>-->
    <link rel="stylesheet" href="../static/css/navbar.css" media="screen" th:href="@{/css/navbar.css}">
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet"/>
    <meta name="generator" content="Nicepage 3.9.3, nicepage.com">


    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i">

    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#4345e7">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body">

<!--  Navbar starts here-->
<ul style=" padding-left: 100px; height: 80px; background-color: #F19A0E;">

    <div style="padding-top: 15px">

        <li th:if="${currentUser != null}" class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#" th:href="@{/logout}">LOGOUT</a>
        </li>

        <li th:if="${currentUser != null }" class="nav-item mx-0 mx-lg-1" >
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#" th:href="@{/}">HOME</a></li>

        <li th:if="${currentUser == null}" class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#Login" th:href="@{/login}">LOGIN</a>
        </li>

        <li th:if="${currentUser != null && (currentUser.isEmployee() || currentUser.isAdmin())}"
            class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#" th:href="@{/admin-panel}">ADMIN PANEL</a>
        </li>

        <li th:if="${currentUser != null && currentUser.isEmployee()}"
            class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#" th:href="@{/garagepanel}">GARAGE</a>
        </li>

        <!--UserNameDisplay and button-->
        <li th:if="${currentUser != null}"
            class="nav-item mx-0 mx-lg-1">
            <a class="py-3 px-0 px-lg-3 rounded"
               style="font-size: larger;"
               th:href="@{/my-profile}" th:text="${currentUser.getFirstName() + ' '
                                    + currentUser.getLastName()}">FirstName LastName</a>
        </li>

    </div>
</ul >
<!-- Navbar ends here-->


<section id="carousel_1cd7" class="u-carousel u-slide u-block-a1e1-1" data-u-ride="carousel" data-interval="5000">
    <ol class="u-absolute-hcenter u-carousel-indicators u-block-a1e1-2">
        <li data-u-target="#carousel_1cd7" data-u-slide-to="0" class="u-active u-grey-30 u-shape-rectangle"
            style="width: 30px; height: 3px;"></li>
        <li data-u-target="#carousel_1cd7" class="u-grey-30 u-shape-rectangle" data-u-slide-to="1"
            style="height: 3px; width: 30px;"></li>
        <li data-u-target="#carousel_1cd7" class="u-grey-30 u-shape-rectangle" data-u-slide-to="2"></li>
    </ol>
    <div class="u-carousel-inner" role="listbox">
        <div class="u-active u-align-left u-carousel-item u-clearfix u-image u-shading u-section-1-1" src=""
             data-image-width="1885" data-image-height="930">
            <div class="u-clearfix u-sheet u-sheet-1">
                <h2 class="u-custom-font u-font-montserrat u-text u-text-1" data-animation-name="fadeIn"
                    data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">smart<br>garage
                </h2>
                <p class="u-large-text u-text u-text-variant u-text-2" data-animation-name="fadeIn"
                   data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">Innovative
                    solution to all your car problems.<br>
                </p>
            </div>
        </div>
        <div class="u-align-left u-carousel-item u-clearfix u-image u-shading u-section-1-2" src=""
             data-image-width="1600" data-image-height="648">
            <div class="u-clearfix u-sheet u-sheet-1">
                <h2 class="u-custom-font u-font-montserrat u-text u-text-1" data-animation-name="fadeIn"
                    data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">REPAIR<br>Solutions
                </h2>
                <p class="u-large-text u-text u-text-variant u-text-2" data-animation-name="fadeIn"
                   data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">Anything from
                    simple oil changes to more persisting problems. We've got you covered.<br>
                </p>
            </div>
        </div>
    </div>
    <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-text-grey-30 u-block-a1e1-3"
       href="#carousel_1cd7" role="button" data-u-slide="prev">
        <span aria-hidden="true">
          <svg viewBox="0 0 477.175 477.175"><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                    c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
        </span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-text-grey-30 u-block-a1e1-4"
       href="#carousel_1cd7" role="button" data-u-slide="next">
        <span aria-hidden="true">
          <svg viewBox="0 0 477.175 477.175"><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                    c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>
        </span>
        <span class="sr-only">Next</span>
    </a>
</section>
<section class="u-clearfix u-grey-5 u-section-2" id="sec-35d9">
    <div class="u-expanded-width u-palette-3-base u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-list u-repeater u-list-1">
        <div class="u-align-center u-container-style u-grey-60 u-list-item u-repeater-item u-list-item-1">
            <div class="u-container-layout u-similar-container u-container-layout-1">
                <img src="../static/images/the_car_maintenance_schedule_you_should_follow-pic-7515122578390558013-1600x1200.jpeg"
                     th:src="@{/images/the_car_maintenance_schedule_you_should_follow-pic-7515122578390558013-1600x1200.jpeg}"
                     alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="1600"
                     data-image-height="1067">
                <h4 class="u-text u-text-1">Car Maintenance</h4>
                <p class="u-text u-text-2">Sample text. Click to select the text box. Click again or double click to
                    start editing the text.</p>
                <a href="#"
                   class="u-active-none u-border-2 u-border-active-grey-15 u-border-hover-grey-15 u-border-white u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-alt-color u-text-hover-grey-25 u-btn-1">learn
                    more</a>
            </div>
        </div>
        <div class="u-align-center u-container-style u-custom-background u-grey-70 u-list-item u-repeater-item u-video-cover">
            <div class="u-container-layout u-similar-container u-container-layout-2">
                <img src="../static/images/Vehicle-Servicing.jpg" th:src="@{/images/Vehicle-Servicing.jpg}"
                     alt="" class="u-expanded-width u-image u-image-default u-image-2" data-image-width="794"
                     data-image-height="429">
                <h4 class="u-text u-text-3">Car Repairs</h4>
                <p class="u-text u-text-4">Sample text. Click to select the text box. Click again or double click to
                    start editing the text.</p>
                <a href="#"
                   class="u-active-none u-border-2 u-border-active-grey-15 u-border-hover-grey-15 u-border-white u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-alt-color u-text-hover-grey-25 u-btn-2">learn
                    more</a>
            </div>
        </div>
        <div class="u-align-center u-container-style u-custom-background u-grey-75 u-list-item u-repeater-item u-video-cover">
            <div class="u-container-layout u-similar-container u-container-layout-3">
                <img src="../static/images/yty.jpg" th:src="@{/images/yty.jpg}"
                     alt="" class="u-expanded-width u-image u-image-default u-image-3" data-image-width="800"
                     data-image-height="931">
                <h4 class="u-text u-text-5">Customer Service</h4>
                <p class="u-text u-text-6">Sample text. Click to select the text box. Click again or double click to
                    start editing the text.</p>
                <a href="#"
                   class="u-active-none u-border-2 u-border-active-grey-15 u-border-hover-grey-15 u-border-white u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-alt-color u-text-hover-grey-25 u-btn-3">learn
                    more</a>
            </div>
        </div>
        <div class="u-align-center u-container-style u-custom-background u-grey-80 u-list-item u-repeater-item u-video-cover">
            <div class="u-container-layout u-similar-container u-container-layout-4">
                <img src="../static/images/two-colleagues-factory_1303-14331.jpg"
                     th:src="@{/images/two-colleagues-factory_1303-14331.jpg}"
                     alt="" class="u-expanded-width u-image u-image-default u-image-4" data-image-width="626"
                     data-image-height="417">
                <h4 class="u-text u-text-7">Our Team</h4>
                <p class="u-text u-text-8">Sample text. Click to select the text box. Click again or double click to
                    start editing the text.</p>
                <a href="https://www.nicepage.com/website-builder"
                   class="u-active-none u-border-2 u-border-active-grey-15 u-border-hover-grey-15 u-border-white u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-alt-color u-text-hover-grey-25 u-btn-4">learn
                    more</a>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-grey-5 u-section-3" id="sec-4df1">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <h2 class="u-text u-text-1">Empire State Building</h2>
                            <p class="u-text u-text-2">Sofia, Bulgaria</p>
                            <p class="u-text u-text-3">1 212-736-3100</p>
                            <p class="u-text u-text-4">
                                <a href="mailto:contacts@esbnyc.com">contacts@esbnyc.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <div class="u-expanded u-grey-10 u-map">
                                <div class="embed-responsive">
                                    <iframe class="embed-responsive-item"
                                            src="//maps.google.com/maps?output=embed&amp;q=Manhattan&amp;t=m"
                                            data-map="JTdCJTIyYWRkcmVzcyUyMiUzQSUyMk1hbmhhdHRhbiUyMiUyQyUyMnpvb20lMjIlM0FudWxsJTJDJTIydHlwZUlkJTIyJTNBJTIycm9hZCUyMiUyQyUyMmxhbmclMjIlM0FudWxsJTJDJTIyYXBpS2V5JTIyJTNBbnVsbCUyQyUyMm1hcmtlcnMlMjIlM0ElNUIlNUQlN0Q="></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-4" id="carousel_1196">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-22 u-layout-cell-1">
                        <div class="u-container-layout u-valign-top u-container-layout-1">
                            <h1 class="u-text u-text-1">about company</h1>
                            <p class="u-align-left u-text u-text-2">Text about the company.</p>
                        </div>
                    </div>
                    <div class="u-align-left u-container-style u-image u-layout-cell u-size-21 u-image-1"
                         data-image-width="724" data-image-height="483">
                        <div class="u-container-layout u-container-layout-2"></div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-17 u-layout-cell-3">
                        <div class="u-container-layout u-container-layout-3">
                            <p class="u-text u-text-3">Vel fringilla est ullamcorper eget nulla facilisi. Nibh cras
                                pulvinar mattis nunc. Massa id neque aliquam vestibulum morbi blandit. Viverra
                                adipiscing at in tellus integer feugiat scelerisque varius morbi. Id ornare arcu odio ut
                                sem. </p>
                            <div class="u-palette-3-base u-shape u-shape-rectangle u-shape-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-image u-shading u-section-5" id="carousel_4bb1" data-image-width="1200"
         data-image-height="677">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-size-30-lg u-size-30-xl u-size-31-md u-size-31-sm u-size-31-xs u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h4 class="u-text u-text-1">Need A Quote Now?<br>
                                <br>Call an experienced broker today 123-456-7890.
                            </h4>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-29-md u-size-29-sm u-size-29-xs u-size-30-lg u-size-30-xl u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <p class="u-text u-text-2">Amet luctus venenatis lectus magna fringilla urna porttitor.
                                Scelerisque in dictum non consectetur a erat nam. Erat imperdiet sed euismod nisi porta
                                lorem. Viverra nam libero justo laoreet sit.</p>
                            <a href="https://www.nicepage.com/landing-page"
                               class="u-btn u-button-style u-white u-btn-1">contact us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-6" id="carousel_90e3">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-image u-layout-cell u-size-30 u-image-1"
                         data-image-width="1200" data-image-height="801">
                        <div class="u-container-layout u-valign-bottom-lg u-valign-bottom-xl u-container-layout-1">
                            <p class="u-align-center-sm u-align-center-xs u-text u-text-1">Image from <a
                                    href="https://www.freepik.com/photos/business"
                                    class="u-active-none u-border-1 u-border-black u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1">Freepik</a>
                            </p>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <div class="u-align-left u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-palette-3-base u-group-1">
                                <div class="u-container-layout u-valign-middle u-container-layout-3">
                                    <h2 class="u-text u-text-2">Save time.<br>Save money.<br>Save the planet.
                                    </h2>
                                </div>
                            </div>
                            <p class="u-text u-text-3">Fusce ut placerat orci nulla. Commodo odio aenean sed adipiscing.
                                Eget mauris pharetra et ultrices neque ornare aenean euismod. Eros in cursus turpis
                                massa tincidunt. Morbi tincidunt augue interdum velit. Turpis massa tincidunt dui ut
                                ornare lectus sit. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-grey-90 u-section-7" id="carousel_5a9f">
    <div class="u-expanded-width u-palette-3-base u-shape u-shape-rectangle u-shape-1"></div>
    <img class="u-image u-image-1" src="../static/images/gettyimages-647333471-1586277995.jpg"
         th:src="@{/images/gettyimages-647333471-1586277995.jpg}" data-image-width="2119" data-image-height="1415">
    <div class="u-list u-repeater u-list-1">
        <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-1">
            <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
                <h4 class="u-text u-text-1">Round Optimisation</h4>
                <p class="u-text u-text-2">Sample text. Click to select the text box. Click again or double click to <a
                        href="https://www.nicepage.com/website-builder"
                        class="u-active-none u-border-1 u-border-grey-75 u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1">start
                    editing</a> the text.
                </p>
            </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-2">
            <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
                <h4 class="u-text u-text-3">Flatbed Shipping</h4>
                <p class="u-text u-text-4">Sample text. Click to select the text box. Click again or double click to
                    start editing the text.</p>
            </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-3">
            <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                <h4 class="u-text u-text-5">Analytics &amp; Insights</h4>
                <p class="u-text u-text-6">Sample text. Click to select the text box. Click again or double click to
                    start editing the text.</p>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-8" id="sec-4b32">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-size-36 u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <div class="u-align-center u-container-style u-layout-cell u-size-30 u-white u-layout-cell-1">
                                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                                            <div class="u-expanded-width u-image u-image-circle u-image-1"
                                                 data-image-width="626" data-image-height="417"></div>
                                        </div>
                                    </div>
                                    <div class="u-align-right u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                                            <h2 class="u-text u-text-1">About</h2>
                                            <p class="u-text u-text-2">Sample text. Click to select the text box. Click
                                                again or double click to start editing the text.</p>
                                            <a href="https://www.nicepage.com/templates"
                                               class="u-active-palette-3-base u-align-right u-black u-btn u-btn-rectangle u-button-style u-custom-font u-font-roboto-condensed u-hover-palette-3-base u-radius-0 u-text-active-white u-text-hover-white u-text-palette-5-light-2 u-btn-1">read
                                                more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-size-40">
                                <div class="u-layout-row">
                                    <div class="u-align-right u-container-style u-layout-cell u-size-60 u-white u-layout-cell-3">
                                        <div class="u-container-layout u-container-layout-3">
                                            <img class="u-expanded-height u-image u-image-2"
                                                 src="../static/images/preventative-maintenance.jpeg"
                                                 th:src="@{/images/preventative-maintenance.jpeg}"
                                                 data-image-width="2000" data-image-height="1292">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-24 u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-container-style u-layout-cell u-shape-rectangle u-size-60 u-layout-cell-4">
                                <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-container-layout-4">
                                    <div class="u-absolute-hcenter-lg u-expanded-height-lg u-palette-3-base u-shape u-shape-rectangle u-shape-1"></div>
                                    <div class="u-expanded-width u-image u-image-circle u-image-3"
                                         data-image-width="626" data-image-height="626"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-f456">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the text box. Click again or
            double click to start editing the text.</p>
    </div>
</footer>
<section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/css-templates" target="_blank">
        <span>CSS Templates</span>
    </a>
    <p class="u-text">
        <span>created with</span>
    </p>
    <a class="u-link" href="https://nicepage.com/html-website-builder" target="_blank">
        <span>HTML Editor</span>
    </a>.
</section>
</body>
</html>