<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Logistic Company, Shipping Solutions, about company, Save time.Save money.Save the planet., About, Contact Us">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>My Profile</title>
    <link rel="stylesheet" href="../static/css/nicepage.css" media="screen" th:href="@{/css/nicepage.css}">
    <link rel="stylesheet" href="../static/css/Home.css" media="screen" th:href="@{/css/Home.css}">
    <link rel="stylesheet" href="../static/css/navbar.css" media="screen" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/hideable.css" th:href="@{/css/hideable.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/tables.css" th:href="@{/css/tables.css}">
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/adminpanel.css" th:href="@{/css/adminpanel.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="generator" content="Nicepage 3.9.3, nicepage.com">


    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i">


    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#4345e7">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body style="background-color: #3f3f64">

<!--  Navbar starts here-->
<ul style=" padding-left: 100px; height: 80px; background-color: #F19A0E;">

    <div style="padding-top: 15px">

        <li th:if="${currentUser != null}" class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#" th:href="@{/logout}">LOGOUT</a>
        </li>

        <li th:if="${currentUser != null }" class="nav-item mx-0 mx-lg-1" >
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#" th:href="@{/}">HOME</a></li>

        <li th:if="${currentUser == null}" class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#Login" th:href="@{/login}">LOGIN</a>
        </li>

        <li th:if="${currentUser != null && (currentUser.isEmployee() || currentUser.isAdmin())}"
            class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#" th:href="@{/admin-panel}">ADMIN PANEL</a>
        </li>

        <li th:if="${currentUser != null && currentUser.isEmployee()}"
            class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               style="font-size: larger;"
               href="#" th:href="@{/garagepanel}">GARAGE</a>
        </li>

        <!--UserNameDisplay and button-->
        <li th:if="${currentUser != null}"
            class="nav-item mx-0 mx-lg-1">
            <a class="py-3 px-0 px-lg-3 rounded"
               style="font-size: larger;"
               th:href="@{/my-profile}" th:text="${currentUser.getFirstName() + ' '
                                    + currentUser.getLastName()}">FirstName LastName</a>
        </li>

    </div>
</ul >
<!-- Top Buttons-->
<div>

<div class="row" style="width: 15%; margin-left: 100px; margin-right: 100px; float: left; padding-bottom: 30px;">
    <button class="button button2" onclick="toggleChangePassword()">Change Password</button><br><br>
    <div class="col-md-9 col-lg-8 mx-auto hidden" id="passChange" style="width: 100%; background-color: #DEDEEE; padding: 5px";>
        <form style="padding: 20px;" th:action="@{/my-profile/user-pass-change}" method="post" th:object="${passChangeFromUserDto}">

            <div class="form-label-group">
                <label for="inputPassword">Old Password</label><br>
                <input type="password" id="inputPassword" class="form-control"
                       style="width: 140px"
                       placeholder="Old Password" required th:field="*{oldPassword}">
                <p th:errors="*{oldPassword}">Old Password error</p>
            </div><br>

            <div class="form-label-group" >
                <label for="inputPasswordNew">New password</label><br>
                <input type="password" id="inputPasswordNew" class="form-control"
                       style="width: 140px"
                       placeholder="New Password" required
                       autofocus th:field="*{newPassword}">
                <p th:errors="*{newPassword}">New password error</p>
            </div><br>

            <div class="form-label-group" >
                <label for="inputPasswordNewR">Repeat password</label><br>
                <input type="password" id="inputPasswordNewR" class="form-control"
                       style="width: 140px"
                       placeholder="Repeat Password" required
                       autofocus th:field="*{repeatNewPassword}">
                <p th:errors="*{repeatNewPassword}">Repeat password error</p>
            </div><br><br>

            <button class="button1 button2" style="font-size: larger"
                    type="submit">Change Password</button>

        </form>
    </div>
</div>

<div class="row" style="width: 15%; margin-left: 100px; float: left; padding-bottom: 30px;">
    <button class="button button2" onclick="toggleUpdateProfile()">Update Profile</button><br><br>
    <div class="col-md-9 col-lg-8 mx-auto hidden" id="updateProfile" style="width: 100%; background-color: #DEDEEE; padding: 5px">
        <form style="padding: 20px;" th:action="@{/my-profile/update-user-info}" method="post" th:object="${userInfoUpdateDto}">

            <div class="form-label-group">
                <label for="inputFirstName">First Name</label><br>
                <input type="text" id="inputFirstName" class="form-control"
                       style="width: 140px"
                       placeholder="First Name" th:field="*{firstName}"><br>
                <label for="inputFirstName"
                       th:text="${currentUser.getFirstName()}" >Stoqn</label>
                <p th:errors="*{firstName}">First Name error</p>
            </div><br>

            <div class="form-label-group" >
                <label for="inputLastName">Last Name</label><br>
                <input type="text" id="inputLastName" class="form-control"
                       style="width: 140px"
                       placeholder="Last Name"
                       autofocus th:field="*{lastName}"><br>
                <label for="inputLastName"
                       th:text="${currentUser.getLastName()}" >Georgiev</label>
                <p th:errors="*{lastName}">Last Name error</p>
            </div><br>

            <div class="form-label-group" >
                <label for="inputPhoneUpdate">Phone</label><br>
                <input type="text" id="inputPhoneUpdate" class="form-control"
                       style="width: 140px"
                       placeholder="Phone"
                       autofocus th:field="*{phone}"><br>
                <label for="inputPhoneUpdate"
                       th:text="${currentUser.getPhone()}" >0881234567</label>
                <p th:errors="*{phone}">Phone error</p>
            </div><br>

            <div class="form-label-group" >
                <label for="inputPasswordCheck">Confirm with password</label><br>
                <input type="password" id="inputPasswordCheck" class="form-control"
                       style="width: 140px"
                       placeholder="Password" required
                       autofocus th:field="*{password}">
                <p th:errors="*{password}">Password error</p>
            </div><br><br>

            <button class="button1 button2" style="font-size: larger"
                    type="submit">Update Profile</button>

        </form>
    </div>
</div>

<div style="width: 15%; margin-left: 100px; float: left; padding-bottom: 30px;">
    <button class="button button2" onclick="toggleSendReport()">Send Visit Info</button><br><br>
    <!--    SEND MAIL TO USER WITH ALL ORDERS ROF A VISIT-->
    <div class="card-body hidden" id="sendEmail" style="width: 100%; background-color: #DEDEEE; padding: 5px">

        <div style="padding-left: 20px; padding-top: 20px; padding-right: 20px;">
            Send me an email report  <br>
            with all orders for a visit.<br><br>
        </div>

        <form style="padding: 20px;" th:action="@{/my-profile/send/all-orders-for-visit}"
              th:object="${visitIdDto}" method="post" class="form-signin">

            <div class="form-label-group">
                <label for="inputVisitId">Visit Id</label><br>
                <input type="number" id="inputVisitId"
                       style="width: 140px"
                       class="form-control" th:field="*{visitId}"
                       placeholder="Visit Id" required>
                <p th:errors="*{visitId}">Wrong visit Id</p>
            </div><br><br>

            <button class="button1 button2" style="font-size: larger" type="submit">Send Mail</button>

        </form>
    </div>
</div>

<div style="width: 15%; margin-left: 100px; float: left; padding-bottom: 30px;">
        <button class="button button2" onclick="toggleFilterServiceOrders()">Filter Services</button><br><br>
        <div class="hidden" id="serviceOrders"  style="width: 100%; background-color: #DEDEEE; padding: 20px">
            Vehicle ID : <input type="text" id="vehicleId"><br><br>
            Visit Start Date : <input type="date" id="startDate"><br><br><br>
            <button class="button1 button2" style="font-size: larger" onclick="filterServiceOrderByVehicleIdAndOrDate()">Filter</button>
            <br><br><br><br>
        </div>
    </div>
    <div class="hidden"> ID: <input type="text"  id="userId" th:value="${currentUser.getId()}"/> <br />
        <div>
</div>
</div>
</div>

<!--Tables start here-->

<div class="searchAndTablesContainer" style="padding-left: 80px; padding-right: 80px; min-height: 500px;">

    <div class="tablesPanel" style="background-color: #dedeee; padding: 20px;">
        <div style="padding-left: 100px; padding-right: 100px;">
            <table class="table table-striped">
                <tr class="bg-info" style="text-align: center">
                    <th data-column="id">Vehicle ID</th>
                    <th data-column="licensePlate">License Plate</th>
                    <th data-column="vin">VIN</th>
                    <th data-column="year">Year</th>
                    <th data-column="model">Model</th>
                    <th data-column="brand">Brand</th>
                </tr>
                <tbody id="userVehiclesTable">
                </tbody>
            </table>
            <div style="padding-left: 10px; padding-right: 10px;">
                <table class="table table-striped">
                    <tr class="bg-info" style="text-align: center">
                        <th data-column="id">Visit ID</th>
                        <th data-column="startDate">Start Date</th>
                        <th data-column="endDate">End Date</th>
                        <th data-column="vehicleId">Vehicle ID</th>
                        <th data-column="vehicleId">Vehicle License Plate</th>
                        <th data-column="serviceName">Service name</th>
                        <th data-column="serviceCost">Service cost</th>
                    </tr>
                    <tbody id="userServices">
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

</body>
<script>
    var vehicleData = []
    var serviceOrdersData = []
    function toggleUpdateProfile(){
        var x = document.getElementById("updateProfile");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function toggleSendReport(){
        var x = document.getElementById("sendEmail");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function toggleChangePassword(){
        var x = document.getElementById("passChange");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function toggleFilterServiceOrders(){
        var x = document.getElementById("serviceOrders");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    var ownerID = document.getElementById('userId').value
    getUserVehicles()
    getUserServices()
    function getUserVehicles() {
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"ownerId": ownerID},
            url: 'http://localhost:8080/api/vehicles',
            error: function (xhr, status, error) {
                alert(xhr.responseText);
            },
            success: function (response) {
                vehicleData = response
                buildUserVehiclesTable(vehicleData)
            }
        })
    }
    function getUserServices(){
        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: {"userId": ownerID},
            url: 'http://localhost:8080/api/serviceorders/userid',
            error: function (xhr, status, error) {
                alert(xhr.responseText);
            },
            success: function (response) {
                serviceOrdersData = response
                buildServiceOrdersTable(serviceOrdersData)
            }
        })
    }
    function filterServiceOrderByVehicleIdAndOrDate(){
        var vehicleId = document.getElementById('vehicleId').value
        var startDate = document.getElementById('startDate').value
        var fullStartDate = startDate  + " 00:00:00"

        var data = {};

        if(vehicleId != '')
            data['vehicleId'] = vehicleId;

        if(startDate != '')
            data['startDate'] = fullStartDate;

        $.ajax({
            method: 'GET',
            headers: {'Authorization': 'a.d@gmail.com'},
            data: data,
            url: 'http://localhost:8080/api/serviceorders/filter',
            error: function (xhr, status, error) {
                alert(xhr.responseText);
            },
            success: function (response) {
                serviceOrdersData = response
                buildServiceOrdersTable(serviceOrdersData)
            }
        })
    }

    function buildUserVehiclesTable(vehicleData) {
        var table = document.getElementById('userVehiclesTable')
        for (var i = 0; i < vehicleData.length; i++) {
            var row = `<tr class="vehicleRows">
                        <td>${vehicleData[i].id}</td>
                        <td>${vehicleData[i].licensePlate}</td>
                        <td>${vehicleData[i].vin}</td>
                        <td>${vehicleData[i].year}</td>
                        <td>${vehicleData[i].model.modelName}</td>
                        <td>${vehicleData[i].model.brand.brandName}</td>
                    </tr>`
            table.innerHTML += row
        }
    }
    function buildServiceOrdersTable(serviceOrdersData){
        var table = document.getElementById('userServices')
        table.innerHTML = ``
        for (var i = 0; i < serviceOrdersData.length; i++) {
            if(serviceOrdersData[i].visit.endDate === null){
                serviceOrdersData[i].visit.endDate = "Vehicle still in shop"
            }
            var row = `<tr class="vehicleRows">
                        <td>${serviceOrdersData[i].visit.id}</td>
                        <td>${serviceOrdersData[i].visit.startDate}</td>
                        <td>${serviceOrdersData[i].visit.endDate}</td>
                        <td>${serviceOrdersData[i].visit.vehicle.id}</td>
                        <td>${serviceOrdersData[i].visit.vehicle.licensePlate}</td>
                        <td>${serviceOrdersData[i].service.name}</td>
                        <td>${serviceOrdersData[i].service.price}</td>
                    </tr>`
            table.innerHTML += row
        }
    }


</script>

</html>
