<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Not found</title>
    </head>

    <body>
        <h1 style="text-align: center; margin-top: 150px" th:text="#{error.page}">Page not found!</h1>

        <img src="../static/images/page-not-found-404.jpg"
             th:src="@{/images/page-not-found-404.jpg}"
             style="display: block; margin-left: auto; margin-right: auto; margin-top: 100px" >
    </body>
</html>