<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Logistic Company, Shipping Solutions, about company, Save time.Save money.Save the planet., About, Contact Us">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title></title>
  <link rel="stylesheet" href="../static/css/nicepage.css" media="screen" th:href="@{/css/nicepage.css}">
  <link rel="stylesheet" href="../static/css/Home.css" media="screen" th:href="@{/css/Home.css}">
  <!--  <script class="u-script" type="text/javascript" src="../static/js/jquery.js" defer="" th:href="@{/js/jquery.js}"></script>-->
  <!--  <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" defer="" th:href="@{/js/nicepage.js}"></script>-->
  <meta name="generator" content="Nicepage 3.9.3, nicepage.com">


  <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i">



  <script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "",
    "url": "index.html",
    "logo": "#"
  }</script>
  <meta property="og:title" content="Home">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#4345e7">
  <link rel="canonical" href="index.html">
  <meta property="og:url" content="index.html">
</head>

<body>

<img src="../static/images/change-your-password.jpg"
     th:src="@{/images/change-your-password.jpg}" style="margin: 150px; float: left; border-radius: 20px; width: 40%;" >



</body>
</html>
