.searchAndTablesContainer {
    width: 100%;
    margin-left: 15px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
}

.searchPanel {
    width: 30%;
    float: left;
    flex: auto;
    background-color: white;
    border-collapse: collapse;
    outline:1px solid black;
}

.tablesPanel {
    width: 68%;
    flex: auto;
    float: left;
    background-color: white;
    border-collapse: collapse;
    outline:1px solid black;
}

