#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    float: left;
    display: inline-block;
}

.hidden {
    display: none;
    float: bottom;
}

.button {
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    margin: 2px;
    border: 1px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #e7b633;
}

.button2:hover {
    background-color: #e7b633;
    color: white;
}
