body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.panelContainer {
    width: 100%;
    height: 100%;
    margin: 5px;
}

.toppane {
    width: 100%;
    height: 20%;
    flex: auto;
    border-collapse: collapse;
    background-color: white;
    outline:1px solid black;
}

.leftpane {
    width: 15%;
    height: 100%;
    float: left;
    flex: auto;
    background-color: white;
    border-collapse: collapse;
    outline:1px solid black;
}

.middlepane {
    width: 60%;
    height: 100%;
    flex: auto;
    float: left;
    background-color: white;
    border-collapse: collapse;
    outline:1px solid black;
}

.rightpane {
    width: 25%;
    height: 100%;
    flex: auto;
    position: relative;
    float: right;
    background-color: white;
    border-collapse: collapse;
    outline:1px solid black;
}
