body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #3f3f64;
}

.panelContainer {
    width: 100%;
    height: 100%;
    margin: 5px;
}

.toppane {
    width: 100%;
    height: 100px;
    flex: auto;
    border-collapse: collapse;
    background-color: #dedeee;
    outline:1px solid black;
}

.leftpane {
    width: 15%;
    height: 100%;
    float: left;
    flex: auto;
    background-color: white;
}

.middlepane {
    width: 80%;
    min-height: 1000px;
    flex: auto;
    float: left;
}

.tablesBorder{
    min-height: 250px;
    margin-top: 10px;
    background-color: #dedeee;
    border-collapse: collapse;
    outline:1px solid black;
}

.rightpane {
    width: 20%;
    height: 750px;
    flex: auto;
    position: relative;
    float: right;
}

.extraInfoPanel{
    height: 600px;
    width: 350px;
    margin: 10px;
    margin-top: 50px;
    background-color: #dedeee;
    border-collapse: collapse;
    outline:1px solid black;
    position: fixed;
}

.container{
}
.item{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.category{
    font-size: 14px;
}
.coloredHeader{
    color: #3f3f64;
}

.limiterCombined{
    margin-top: 30px;
    width: 100%;
    min-height: 300px;
    float: left;
}

.limiterCombinedForTopPane{
    margin-top: 30px;
    width: 100%;
    min-height: 150px;
}

.limiterLeft{
    width: 15%;
    min-height: 250px;
    margin-top: 10px;
    float: left;
}

.limiterLeftForTopPane{
    width: 15%;
    margin-top: 10px;
    float: left;
    min-height: 150px;
}


.limiterRight{
    width: 85%;
    float: right;
}

.leftFunctions{
    width: 95%;
    float: right;
    background-color: #dedeee;
    border-collapse: collapse;
    outline:1px solid black;
}
.leftFunctionsBottom{
    width: 95%;
    float: right;
    margin-top: 20px;
    background-color: #dedeee;
    border-collapse: collapse;
    outline:1px solid black;
}

.topPaneSeparator{
    width: 33%;
    float: left;
}
