#content {
    display: none;
}

#show:checked ~ #content {
    display: block;
    width: 100%;
}

#content1 {
    display: none;
}

#show1:checked ~ #content1 {
    display: block;
    width: 100%;
}

#content2 {
    display: none;
}

#show2:checked ~ #content2 {
    display: block;
    width: 100%;
}