.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/garagerapirshop.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 744px;
}

.u-section-1-1 .u-text-1 {
  font-size: 5.5rem;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 328px 577px 0 22px;
}

.u-section-1-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 30px 570px 60px 22px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: 313px;
    margin-right: 370px;
    margin-left: 29px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-right: 363px;
    margin-left: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 4.8125rem;
    margin-top: 302px;
    margin-right: 159px;
    margin-left: 20px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 152px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 4.1875rem;
    margin-top: 237px;
    margin-right: 0;
    margin-left: 36px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 115px;
    margin-left: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 {
    background-position: 80.27% 100%;
    background-size: auto 120%;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 23px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
    margin-left: 23px;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/banner-1.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 744px;
}

.u-section-1-2 .u-text-1 {
  font-size: 5.5rem;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 328px 558px 0 22px;
}

.u-section-1-2 .u-text-2 {
  animation-duration: 1000ms;
  margin: 30px 570px 60px 22px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    margin-top: 313px;
    margin-right: 337px;
    margin-left: 29px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-right: 363px;
    margin-left: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 4.8125rem;
    margin-top: 302px;
    margin-right: 159px;
    margin-left: 20px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 152px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 4.1875rem;
    margin-top: 237px;
    margin-right: 0;
    margin-left: 36px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 115px;
    margin-left: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 {
    background-position: 80.27% 100%;
    background-size: auto 120%;
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 23px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 0;
    margin-left: 23px;
  }
}.u-block-a1e1-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-a1e1-3 {
  position: absolute;
  left: 0;
}

.u-block-a1e1-4 {
  position: absolute;
  right: 0;
}.u-section-2 {
  background-image: none;
  min-height: 715px;
}

.u-section-2 .u-shape-1 {
  height: 176px;
  margin-top: 120px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  min-height: 531px;
  grid-template-columns: 25% 25% 25% 25%;
  width: 1140px;
  grid-gap: 0px 0px;
  margin: -227px auto 60px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  height: 304px;
  margin-top: -31px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 500;
  font-size: 1.5rem;
  width: 225px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 21px 31px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  height: 304px;
  margin-top: -31px;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 500;
  font-size: 1.5rem;
  width: 225px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 21px 31px 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-image-3 {
  height: 304px;
  margin-top: -31px;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 500;
  font-size: 1.5rem;
  width: 225px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 21px 31px 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-image-4 {
  height: 304px;
  margin-top: -31px;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 500;
  font-size: 1.5rem;
  width: 225px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 21px 31px 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 622px;
  }

  .u-section-2 .u-list-1 {
    min-height: 438px;
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-image-1 {
    height: 251px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.25rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-image-2 {
    height: 251px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    font-size: 1.25rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-image-3 {
    height: 251px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    font-size: 1.25rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-image-4 {
    height: 251px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    font-size: 1.25rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 1446px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1252px;
    grid-template-columns: 50% 50%;
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    height: 385px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 27px;
    margin-right: 27px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-2 .u-image-2 {
    height: 385px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 27px;
    margin-right: 27px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-2 .u-image-3 {
    height: 385px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 27px;
    margin-right: 27px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-6 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-2 .u-image-4 {
    height: 385px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 27px;
    margin-right: 27px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-8 {
    margin-left: 27px;
    margin-right: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 3314px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    height: 578px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-2 .u-image-2 {
    height: 578px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-2 .u-image-3 {
    height: 578px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-2 .u-image-4 {
    height: 578px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 31px;
    margin-right: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 2557px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 364px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-image-2 {
    height: 364px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-image-3 {
    height: 364px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-image-4 {
    height: 364px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 24px;
    margin-right: 24px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 640px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 733px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 613px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 3rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 613px;
  background-image: url("../images/gettyimages-647333471-1586277995.jpg");
  background-position: 74.62% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 613px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-4 .u-shape-1 {
  width: 93px;
  height: 91px;
  background-image: none;
  margin: 33px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 505px;
  }

  .u-section-4 .u-image-1 {
    min-height: 505px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 505px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 387px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1234px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: -578px;
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 829px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 522px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/JPGTVFPOFZBERBZ2SQGTX5O4LQ.jfif");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 539px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 359px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 359px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 296px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 296px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.75rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 657px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-image-1 {
  min-height: 652px;
  background-image: url("../images/BarnyJones_374b-2-1200x801.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 0 0 0 -5px;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 537px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-group-1 {
  width: 692px;
  min-height: 258px;
  margin: 114px 50px 0 -232px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  letter-spacing: 6px;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-6 .u-text-3 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-6 .u-image-1 {
    min-height: 655px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 655px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 23px;
  }

  .u-section-6 .u-group-1 {
    width: 660px;
    margin-top: 81px;
    margin-right: 0;
    margin-left: -250px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-6 .u-text-3 {
    margin-top: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-6 .u-image-1 {
    min-height: 683px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 582px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 683px;
  }

  .u-section-6 .u-group-1 {
    width: 570px;
    margin-top: 35px;
    margin-left: -270px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1031px;
  }

  .u-section-6 .u-image-1 {
    min-height: 484px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 318px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-6 .u-group-1 {
    min-height: 273px;
    margin-top: -115px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-3 {
    margin-top: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-6 .u-image-1 {
    min-height: 377px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 219px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 434px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 9px;
  }

  .u-section-6 .u-group-1 {
    min-height: 194px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.625rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
    margin-top: 28px;
  }
}.u-section-7 {
  background-image: none;
  min-height: 936px;
}

.u-section-7 .u-shape-1 {
  height: 538px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  width: 1040px;
  height: 690px;
  margin: -467px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-7 .u-list-1 {
  min-height: 637px;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  width: 548px;
  grid-gap: 23px 23px;
  margin: -541px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.4);
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.4);
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.4);
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-7 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    width: 784px;
    height: 701px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-list-1 {
    margin-top: -552px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 973px;
  }

  .u-section-7 .u-image-1 {
    width: 643px;
    height: 677px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-list-1 {
    width: 462px;
    height: auto;
    margin-top: -528px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-1 {
    width: 475px;
    height: 644px;
    object-position: 22.3% 50%;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-list-1 {
    width: 321px;
    margin-top: -495px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 1193px;
  }

  .u-section-7 .u-shape-1 {
    height: 368px;
  }

  .u-section-7 .u-image-1 {
    width: 316px;
    height: 376px;
    margin-top: -297px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-list-1 {
    min-height: 754px;
    width: 254px;
    margin-top: -127px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-7 .u-text-5 {
    font-size: 1.25rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 80px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 339px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 384px;
  background-image: url("../images/young-succesful-professional-car-repairman-flannel-overalls-standing-by-automobile-repair_274679-1994.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 339px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-size: 4.0625rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0 0 auto;
  padding: 10px 52px 10px 51px;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 339px;
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 126px 30px 30px;
}

.u-section-8 .u-image-2 {
  object-position: 50.78% 41.82%;
  width: 550px;
  left: 0;
  right: auto;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 791px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-shape-1 {
  width: 223px;
  height: 741px;
  margin: -30px 71px 0 auto;
}

.u-section-8 .u-image-3 {
  margin-top: -599px;
  margin-bottom: 0;
  height: 384px;
  background-image: url("../images/low-angle-plain-concrete-structure-city-with-copy-space_23-2148814201.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-8 .u-image-1 {
    width: 384px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 280px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 280px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-right: 80px;
  }

  .u-section-8 .u-image-2 {
    width: 476px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 761px;
  }

  .u-section-8 .u-shape-1 {
    height: auto;
    margin: initial;
  }

  .u-section-8 .u-image-3 {
    margin-top: 112px;
    width: 384px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1910px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 354px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 326px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-8 .u-image-2 {
    width: 616px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 752px;
  }

  .u-section-8 .u-shape-1 {
    height: 956px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto;
  }

  .u-section-8 .u-image-3 {
    margin-top: -814px;
    margin-bottom: 154px;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1788px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 352px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-right: 40px;
    padding-left: 10px;
  }

  .u-section-8 .u-image-2 {
    width: 498px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 739px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-shape-1 {
    height: 778px;
  }

  .u-section-8 .u-image-3 {
    margin-top: -636px;
    margin-bottom: 116px;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 334px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 222px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    width: 330px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 608px;
  }

  .u-section-8 .u-shape-1 {
    height: 528px;
  }

  .u-section-8 .u-image-3 {
    margin-top: -424px;
    margin-bottom: 0;
    height: 320px;
    width: auto;
  }
}